{% extends '../shared/navigation.html' %}


{% block body %}

    <main>
          <div class="g-max-width-1300 mx-5" style="padding-top: 5px;">
            <div class="row">
                <div class="col-3  g-px-0--sm g-mb-30">
                    <section><c-vcms-appointment-cancellation-stepper>
                        <div tabindex="-1" aria-hidden="true" class="nyc-stepper">
                            <div class="nyc-stepper-item nyc-active"><span class="nyc-stepper-item-content">Appointment Search</span></div>
                            <div class="nyc-stepper-item nyc-stepper-item-pending"><span class="nyc-stepper-item-content">Confirmation</span></div>
                        </div>
                    </c-vcms-appointment-cancellation-stepper>
                    </section>
                </div>
                <div class="col-9  g-px-0--sm g-mb-30" id="divSearchSection">
                     {% include '../shared/apt_search_control.html' with search_for='cancel'%}
                </div>

                <div class="col-9  g-px-0--sm g-mb-30" id="divConfirmSection" style="display: none">
                     <h2 class="h2-font mb-2 g-color-white2 g-font-weight-600">Confirmation to Cancel Appointment</h2>
                     <div id="divAptInfo">

                     </div>
                    <input type="hidden" id="operationToken" />
                    <div id="divCancelButton">
                        Click this button to CANCEL your appointment: <br/>
                        <input type="button" class="Gotham-black g-font-size-15 btn u-btn-primary g-color-white g-bg-primary-dark-v1--hover rounded-0 g-px-18 g-py-10"
                       value="Cancel My Appointment" onclick="cancelAppointmentClick()">
                    </div>
                </div>

            </div>
          </div>
    </main>

    <script type="text/javascript">
        function aptSearchCallback(apt){
            $('#divConfirmSection').show();
            $('#divSearchSection').hide();
            $('.nyc-stepper-item-pending').removeClass('nyc-stepper-item-pending').addClass('nyc-active');
            $('#divAptInfo').html(apt.Message);
            $('#operationToken').val(apt.OperationToken);
        }

        function cancelAppointmentClick(){
            let token = $('#operationToken').val();
            MG.Modal.showLoading('Cancelling appointment....')
            $.post('./?action=cancelApt', {'token': token, 'AptNumber': $('#AptNumber').val()}
                , function (res){
                    MG.Modal.hideLoading();
                    if(res.ResultCode == 0){
                        MG.Global.AlertMessage('Your Appointment has been cancelled.', 'Success');
                        $('#divCancelButton').html('<b>Your Appointment has been cancelled.</b>');
                    }else{
                        MG.Global.AlertMessage(res.Message, 'Error');
                    }

                }
                , 'json');
        }
    </script>
{% endblock %}