{% extends '../shared/navigation.html' %}

{% block body %}

    <main>
          <div class="g-max-width-1300 mx-5" style="padding-top: 5px;">
            <div class="row">
                <div class="col-3  g-px-0--sm g-mb-30">
                    <section><c-vcms-appointment-cancellation-stepper>
                        <div tabindex="-1" aria-hidden="true" class="nyc-stepper">
                            <div class="nyc-stepper-item nyc-active"><span class="nyc-stepper-item-content">Appointment Search</span></div>
                            <div class="nyc-stepper-item nyc-stepper-item-pending" id="stepperSecond"><span class="nyc-stepper-item-content">Reschedule Appointment</span></div>
                            <div class="nyc-stepper-item nyc-stepper-item-pending" id="stepperThird"><span class="nyc-stepper-item-content">Confirmation</span></div>
                        </div>
                    </c-vcms-appointment-cancellation-stepper>
                    </section>
                </div>
                <div class="col-9  g-px-0--sm g-mb-30" id="divSearchSection" style2="display: none">
                     {% include '../shared/apt_search_control.html' with search_for='reschedule'%}
                </div>

                <div class="col-9  g-px-0--sm g-mb-30" id="divSiteSection" style="display: none">
                     <h2 class="h2-font mb-2 g-color-white2 g-font-weight-600">Reschedule Appointment</h2>
                     <div id="divAptInfo">

                     </div>
                    <input type="hidden" id="operationToken" />
                    <div id="h3Loading" style="display: none" class="row">
                        <h3 ><i class="fa fa-spin fa-fw fa-spinner"></i>Loading</h3>
                    </div>
                    <div class="row">
                            <div class="col-sm-4 col-lg-7 g-mb-30" style="margin-top: 10px">
                                <h5> Re-schedule your appointment by selecting any available slot below:</h5>
                            </div>
                             <div class="col-sm-3 col-lg-2 g-mb-30">
                                 <button onclick="getCovidTestingSite(-1)" class="btn btn-block u-btn-outline-primary u-btn-primary__ g-color-white__ g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-10 g-py-10" data-i18n_= "somos-previous-5-days" type="submit">
                                    Previous
                                </button>
                             </div>
                            <input type="hidden" id="week-of-datepicker" value=""/>
                             <div class="col-sm-2 col-lg-1 g-mb-30" style="margin-top: 10px; text-align:center;font-weight: bold" id="divCurrentDay">
                             </div>
                             <div class="col-sm-3 col-lg-2 g-mb-30">
                                 <button onclick="getCovidTestingSite(1)" class="btn btn-block u-btn-outline-primary g-color-white__ g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-10 g-py-10" data-i18n_= "somos-next-5-days" type="submit">
                                    Next
                                </button>
                             </div>
                    </div>
                    <div id="divContent">
                    </div>

                </div>

                <div class="col-9  g-px-0--sm g-mb-30" id="divConfirmSection" style="display: none" >
                    <h2 class="h2-font mb-2 g-color-white2 g-font-weight-600">Confirmation</h2>
                    <div><h5>Your are going to reschedule your appointment to : </h5></div>
                    <div id="divConfirmInfo" style="margin-bottom: 20px; margin-left: 30px"></div>
                    <div id="divRescheduleButton" >
                        <div style="margin-bottom: 20px">
                            Click this button to submit your rescheduling:  </div>
                        <input type="button" class="Gotham-black g-font-size-15 btn u-btn-primary g-color-white g-bg-primary-dark-v1--hover rounded-0 g-px-18 g-py-10"
                       value="Submit" onclick="rescheduleAppointmentClick()">
                    </div>
                </div>

            </div>
          </div>
    </main>

    <script type="text/javascript">
        function aptSearchCallback(apt){
            $('#divSiteSection').show();
            $('#divSearchSection').hide();
            $('#stepperSecond').removeClass('nyc-stepper-item-pending').addClass('nyc-active');
            $('#divAptInfo').html(apt.Message);
            $('#operationToken').val(apt.OperationToken);

            getCovidTestingSite();
        }

        function getCovidTestingSite(step){
            let day = $('#week-of-datepicker').val();
            let url = '/p/sites/?action=getSiteWithSlot&zipcode=&day=' + day +"&vaccineOffered=";
            if (typeof (step) == 'undefined') {
                step = 0
            }
            url += '&step=' + step;
            $('#h3Loading').show();
            $.post(url, function (res) {
                $('#h3Loading').hide();
                $('#divContent').html(res.Content);
                $('#week-of-datepicker').val(res.BookingDay);
                $('#divCurrentDay').html(res.BookingDay);
                //$(".frange").attr("disabled", false)
                //$(".frange").removeClass("text-muted")
            });
        }

        let g_current_slot = {};
        function rescheduleAppointmentClick(){
            let token = $('#operationToken').val();
            $.post('./?action=SaveReschedule&token=' + token, g_current_slot,
                function (res){
                    if(res.ResultCode == 0){
                        let msg = 'Your Appointment has been rescheduled.';
                        MG.Global.AlertMessage(msg);
                        $('#divRescheduleButton').html(msg);
                    }else{
                        MG.Global.AlertMessage(res.Message, 'Error');
                    }
                });
        }

        function selectSlot(empid, olid, bookTime, dspTime){
            g_current_slot = { 'EmpID': empid, 'Olid': olid, 'BookTime': bookTime };
            $('#stepperThird').removeClass('nyc-stepper-item-pending').addClass('nyc-active');
            $('#divSiteSection').hide();

            $('#divConfirmSection').show();
            let aptInfo = "<h5>"+ $('#divLocationName'+olid).html() +"</h5>";
            let addrID = "divLocationAddr" + olid;
            if(document.getElementById(addrID)){
                aptInfo += $('#' + addrID).html();
            }
            aptInfo += "<div style='font-weight: bold;font-size: x-large'>" + $('#week-of-datepicker').val() + ' ' + dspTime +"</div>"
            $('#divConfirmInfo').html(aptInfo);
        }
    </script>
{% endblock %}