{% extends '../shared/navigation.html' %}
{% load static %}
{% block css %}
    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
{% endblock %}
{% block body %}
    <body>
    <!-- Content -->
    <main>
        <!-- Login - Heading -->
        <div class="g-color-white g-bg-primary-dark-v1 g-px-60 g-py-10" >
            <h1 class="p-prim-font mb-0"><i class="fa fa-fw fa-check-circle-o"></i><span
                    data-18n_="somos-thanks">Gracias</span> {{ PatientName }}! <span data-18n_="somos-confirmed-msg-5">¡Tu cita está confirmada!</span>
            </h1>
            <h4 class="Gotham-bold g-font-size-24 mb-0"><i class="fa fa-fw fa-bookmark-o"></i><span data-18n_="somos-patient-id">Paciente ID</span>:
                <b>{{ ClinicID }}-{{ PatientID }}</b></h4>
        </div>
        <!-- End Login - Heading -->

        <!-- Login -->
        <div class="container">
            <div class="col-12">
                <article class="row no-gutters g-mb-30">
                    <div class="col-lg-5 g-bg-img-hero g-min-height-300 d-flex justify-content-center"
                            {# d-flex to center print image #}
                         style="background: url('{% static "images/somos-emblem-marker.png" %}') center no-repeat, url('{{ Map }}') center no-repeat;">
                        <img class="d-none d-print-block" height="280px" src="{{ Map }}"></div>

                    <div class="col-lg-7 ">
                        <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
                            <!-- Products - List of Details -->
                            <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0" style="padding: 10px">
                                <div>
                                    <br>
                                    <h4 class="h3-font"><i class="fa fa-fw fa-info-circle text-muted"></i><span
                                            data-18n_="somos-confirmed-msg-1">Qué saber antes de ir</span></h4>
                                    <hr>
                                    <p class="p-secd-font"><span data-18n_="somos-confirmed-msg-2">Información importante</span>:</p>
                                    <ul class="Gotham-bold g-font-size-16">
                                        {#                                        <li data-18n_="somos-confirmed-msg-3">Please call us if you are running late.#}
                                        {#                                            Your reservation is subject to cancel without notification.#}
                                        {#                                        </li>#}
                                        {#                                        <li data-18n_="somos-confirmed-msg-4">Print this page or write down your patient#}
                                        {#                                            id, it will make it easier for staff to find your appointment info.#}
                                        {#                                        </li>#}
                                        {% if not CLINIC_ID == 3552 %}
                                            <li data-18n_="covid-confirmed-msg-1">Qué saber antes de ir
                                            </li>
                                            <li data-18n_="covid-confirmed-msg-2">Información importante
                                            </li>
                                        {% else %}
                                            <li>Identificación con foto emitida por el gobierno (por ejemplo, licencia de conducir estatal, pasaporte, tarjeta de pasaporte, tarjeta de identificación del médico del estado de Nueva York, etc.)
                                            </li>
                                            <li>Tarjeta de seguro médico (si tiene seguro médico)</li>
                                            <li>Tarjeta de la Seguridad Social (si no tienes seguro médico)</li>
                                            <li>Recibo de pago (de los últimos dos meses)</li>
                                            <li>Carta de verificación de empleo con membrete comercial (que indica que actualmente está trabajando)
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </ul>
                            <!-- End Products - List of Details -->

                            <!-- Products - Address -->
                            <div class="g-pa-25">
                                <p class="Gotham-book g-color-blue g-font-weight-600 g-font-size-20 mb-0">
                                         Cita #: {{ AppointmentID }}
                                </p>

                                <h3 class="Gotham-bold g-font-weight-600 g-font-size-18"><span class="text-muted"><span
                                        data-18n_="somos-confirmed-site-name">Nombre del sitio de prueba</span>: </span> {{ LocationName }}
                                </h3>
                                <p class="Gotham-book g-font-size-15"><span class="text-muted"><span
                                        data-18n_="somos-confirmed-site-phone">Número de teléfono del sitio de prueba</span>: </span>{{ LocationPhone }}
                                </p>
                                <p class="Gotham-book g-font-size-16"><span class="text-muted"><span
                                        data-18n_="somos-confirmed-site-address">Dirección del sitio de prueba</span>: </span>{{ LocationAddress }}, {{ LocationCity }}, {{ LocationState }}, {{ LocationZip }}
                                </p>
                                <p class="Gotham-book g-color-text g-font-weight-500 g-font-size-15 mb-1"><span
                                        class="text-muted"><span
                                        data-18n_="somos-confirmed-date">día de la cita</span>: </span>{{ AppointmentDate }}
                                </p>
                                <p class="Gotham-book g-color-text g-font-weight-500 g-font-size-15 mb-0"><span
                                        class="text-muted"><span
                                        data-18n_="somos-confirmed-time">hora de la cita</span>: </span>{{ AppointmentTime }}
                                </p>
                                <p class="Gotham-book g-color-text g-font-weight-500 g-font-size-15 mb-0"><span
                                        data-18n_="somos-arrive-early">Llegar 15 minutos antes!</span></p>
                            </div>
                            <!-- End Products - Address -->
                            <!-- End Products - List of Details -->
                        </div>
                        <div style="display: flex;">
                            <a class="Gotham-black d-print-none btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15 g-font-size-15"
                               href="{{ Cal }}" style="margin-top: 0px;">
                                <span data-18n_="somos-add-to-cal">Agregar a Google Calendar</span>
                                <i class="align-middle ml-2 fa fa-calendar"></i>
                            </a>
                            <a class="Gotham-black d-print-none btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15 g-font-size-15"
                               href="#" onclick="window.print();return false;" style="margin-top: 0px;">
                                <span data-18n_="somos-print-page">Imprimir página</span>
                                <i class="align-middle ml-2 fa fa-print"></i>
                            </a>
                            <a class="Gotham-black d-print-none btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15 g-font-size-15"
                               href="{% url 's1_landing_view2' %}" style="margin-top: 0px;">
                                <span data-18n_="somos-new-appt">Nueva cita</span>
                                <i class="align-middle ml-2 fa fa-certificate"></i>
                            </a>
                        </div>
                    </div>
                </article>
                <!--Steve said to remove it now--->
                <!--xiao said to add it now 2021-01-14 --->
                {% if pat_id <= 0 %}
                <div class="container pt-5 pb-3 d-print-none" style="text-align: center; ">
                    <a class="Gotham-book g-font-size-15 btn btn-outline-primary btn-lg" href="/p/recover/?email={{ PatientEmail }}&mode=createAccount">
                        <i class="fa fa-fw fa-plus-square"></i>
                        Cree una cuenta para administrar su cita
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Login -->
        <h1>&nbsp;</h1>
        <!-- End Call to Action -->
    </main>
    <!-- End Content -->

{% endblock %}

{% block js %}
    <script>
        /*global $*/
        $(document).on('ready', function () {
            $.HSCore.components.HSDatepicker.init('#week-of-datepicker');

            //back button to homepage {# https://stackoverflow.com/questions/34613494/is-there-any-way-to-override-back-button/34613538 #}
            if (window.history && window.history.pushState) {
                window.history.pushState('forward', null, null);
                $(window).on('popstate', function () {
                    window.location.href = '{% url 's1_landing_view2' %}';
                });
            }
        });
    </script>
{% endblock %}