{% load static %}

<main id="mainForm3" style="display: none" class="g-mx-55--xl g-mx-55--lg g-mx-55--md g-mx-25--sm g-mx-25">
    <!-- Login - Heading -->
    <div class="g-my-55">
        <div class="q-heading">
            <h3 class="h2-font">
                <span data-i18n_="covid-screening-title">Certificación y evaluación de salud</span>

            </h3>
            <h5 class="p-secd-font p-secd-font-color"><i class="fa fa-fw fa-asterisk text-danger"></i> indica un campo obligatorio</h5>
        </div>
        <!-- End Login - Heading -->

        <!-- Login Form -->
        <form class="g-mb-30" action="/your-name/" method="post" id="fmEditor2" onsubmit2="return submitScreenForm();">
            {% csrf_token %}
            <input type="hidden" name="SiteMode" value="{{ SiteMode }}"/>

            <div class="div-question" id="q2">
                <h4 class="p-prim-font" data-i18n_="covid-screening-1-i">
                    <i class="fa fa-fw fa-asterisk text-danger"></i>
                    ¿Alguna vez ha tenido una reacción alérgica grave o potencialmente mortal, como urticaria o dificultad para respirar, a una dosis previa de la vacuna contra la COVID-19 o a algún componente de la vacuna?

                </h4>
                <h4 class="p-secd-font p-secd-font-color p-prim-font-margin" data-i18n_="covid-screening-1-ii"></h4>

                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q2" value="Yes" id="q2_yes"  onclick="$('#btnSubmit').hide();$('#divExitHint').show()">
                        <label for="q2_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n_="somos-yes">Si</span>
                        </label>

                    <input type="radio" name="q2" value="No" id="q2_no"  onclick="$('#btnSubmit').show();$('#divExitHint').hide()">
                        <label for="q2_no" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n_="somos-no">No</span>
                        </label>
                </div>
                <div class="" style="display: none;" id="divExitHint">
                    <p class="p-prim-font g-color-red">
                        En este momento, usted no es elegible para recibir la vacuna contra la COVID-19.
                    </p>
                </div>
            </div>




            <div class="div-question" id="q15">

                <h4 class="consent-title h2-font"><span data-i18n_="covid-screening-consent-ii">Consentimiento</span></h4>
                <h4 class="consent-detail p-prim-font"><span data-i18n_="[html]covid-screening-consent-iii">
                    <i class="fa fa-fw fa-asterisk text-danger"></i>
                    Por este medio, certifico bajo pena de ley que la información presentada aquí es veraz y precisa; y que tengo, o que la persona para la que estoy legalmente autorizado a tomar decisiones de atención de salud tiene, 5 años de edad o más y reside en los Estados Unidos. Entiendo que la entrega deliberada de información falsa en este formulario es un delito menor de clase A y puede dar lugar a una pena de hasta un año de cárcel o una multa de $1,000.
                </span></h4>

                <div class="radio-box final-box btn-font text-center" >
                    <input type="radio" name="q15" value="Yes" id="q15_yes"  >
                        <label for="q15_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n_="covid-screening-accept">Autorizo que me vacunen</span>
                        </label>

                    <input type="radio" name="q15" value="No" id="q15_no"  >
                        <label for="q15_no">
                            <span class="align-middle" data-i18n_="covid-screening-decline">No autorizo</span>
                        </label>
                </div>

            </div>

            <div class="p-prim-font g-color-black mb-5">
                 <div>   <b>Menores de edad</b></div>
<p>
Los menores de edad (5 a 17 años de edad) solo pueden recibir la vacuna Pfizer.
</p>
                <p>
Menores de edad deben contar con el consentimiento parental, del tutor o del responsable legal, a menos que el menor de edad sea parte de un grupo al que la ley otorga el derecho a dar consentimiento para su propia atención (p. ej., menores de edad casados, menores de edad que sean padre/madre o que estén embarazadas, y menores de edad que estén en las fuerzas armadas).
</p>
   <p>
Para menores de 16 o 17 años de edad, dicho consentimiento debería proporcionarse en persona o por teléfono, al momento de la cita de vacuna. Los proveedores pueden elegir si aceptan una declaración de consentimiento por escrito del padre/madre o tutor, cuando estos no estén disponibles por teléfono a fin de proporcionar consentimiento para vacunar a un menor de edad no acompañado. La declaración por escrito debe incluir el nombre y la fecha de nacimiento del menor de edad, y el nombre, número de teléfono y firma del padre/madre o tutor. Para obtener más información sobre cuáles centros de vacunación aceptan un consentimiento por escrito, llame al. <!-- 877-VAX-4NYC or 877-829-4692. -->
</p><p>
Además, para menores de entre 5 y 15 años de edad, un cuidador adulto debe acompañar al menor de edad. Si el cuidador adulto no es el padre/madre o tutor del menor, el cuidador adulto debe haber sido designado por uno de ellos. Aun así, el padre/madre o tutor debe proporcionar el consentimiento para la vacunación.
</p>

<div>
  <b> Consideraciones de salud antes de programar su cita</b></div>

<p>Si hoy se siente mal, programe para al menos 10 días después de haber comenzado a sentirse mal.</p>

<p>En los últimos 10 días, si ha tenido un resultado positivo en la prueba de la COVID-19 o si un proveedor de atención de salud o departamento de salud le han dicho que debe aislarse o ponerse en cuarentena debido a una infección o exposición a la COVID-19, debe programar su cita para una fecha posterior a la finalización de su aislamiento o cuarentena.
</p>
<p>Si ha recibido tratamiento con anticuerpos para la COVID-19 en los últimos 90 días (3 meses), debe programar su cita para al menos 90 días después de la última dosis del tratamiento con anticuerpos.
</p>
<p>Si está embarazada o está pensando en quedar embarazada, considere analizarlo con su proveedor de atención de salud. Aún puede programar una cita y vacunarse si así lo desea.
</p>
<p>Si tiene cáncer, leucemia, VIH/SIDA, antecedentes de enfermedad autoinmunitaria o cualquier otra afección que debilite el sistema inmunitario, es posible que tenga una respuesta inmunitaria menos fuerte a la vacuna, pero aún puede vacunarse si así lo desea.
</p>
<p>Si toma algún medicamento que afecte su sistema inmunitario, como cortisona, prednisona u otros esteroides, fármacos contra el cáncer o si ha recibido algún tratamiento de radiación, es posible que tenga una respuesta inmunitaria menos fuerte a la vacuna, pero aún puede vacunarse si así lo desea.
</p>
<p>Si alguna vez ha tenido una reacción alérgica grave o potencialmente mortal, como urticaria o dificultad para respirar, a alguna vacuna o inyección, aún puede vacunarse si así lo desea. Informe a la persona que administra la vacuna y permanezca en el área de espera del punto de entrega (POD) durante 30 minutos después de la vacunación.
</p>

            </div>

            <button class="btn-font btn-lg-padding border-0 btn-primary btn-top-margin button-on-hover"  style="line-height: normal; min-width: 96px" type="submit" id="btnSubmit">
                <span class="align-middle" data-i18n_="somos-submit">Entregar</span>
            </button>
        </form>
        <!-- End Login Form -->
        <!-- Login -->

    </div>
        <!-- Login -->
    <script type="text/javascript">

        function fmVaccineQualificationOnSubmit() {

            if (document.getElementById('cityemp1').checked === false) {
                alert("Lo sentimos, pero no podemos procesar su solicitud en este momento. Este sitio web es actualmente para personas elegibles para la vacuna. Por favor, vuelva más tarde.");
                return false;
            }
            else {
                $('#mainForm2').hide();
                $("html, body").animate({ scrollTop: 0 });
                $('#mainForm3').show();
            }

            return false;
            let fmdata = $('#fmEditor').serialize();
            console.log(fmdata)
            let url = '/p/covid/?action=saveQuestionnaire';
            $.post(url, fmdata, function (res) {
                if (res.ResultCode == 0) {
                    window.location.href = '/p/sites/?qid=' + res.qid;
                } else {
                    alert(res.Error);
                }
            }, 'json');
        }




    </script>


</main>
<!-- End Content -->
