{% load static %}
<main id="mainFormDose3" style="display: none" class="g-mx-55--xl g-mx-55--lg g-mx-55--md g-mx-25--sm g-mx-25">
        <!-- Login - Heading -->
    <div class="g-my-55">
        <div class="q-heading">
            <h3 class="h2-font">
                <span>Dose Verification</span>
            </h3>
            <h5><i class="fa fa-fw fa-asterisk text-danger"></i> indicates a required field</h5>
        </div>
        <!-- End Login - Heading -->
        <form class="g-mb-30" action="/your-name/" method="post" id="fmEditorDose3" >


            <div class="div-question" id="q7">
                <h4 class="p-prim-font"><span>
                    <i class="fa fa-fw fa-asterisk text-danger"></i> What vaccine did you receive initially?
                </span></h4>
                    <select class="g-color-primary p-secd-font form-control form-control-md" style="border-color: #253BCC;" name="q7">
                            <option value="">Select an Option</option>
                            <option value="Moderna">Moderna</option>
                            <option value="Pfizer(age 12+)">Pfizer(age 12+)</option>
                            <option value="Johnson & Johnson">Johnson & Johnson</option>
                            <option value="Pfizer(age 5-11)">Pfizer(age 5-11)</option>
                            <option value="idonotknow">I don't know</option>
                        </select>

            </div>

            <div class="div-question" id="q6">
                    <h4 class="p-prim-font"><i class="fa fa-fw fa-asterisk text-danger"></i> When did you receive your most recent vaccine?</h4>

                    <div class="input-group g-brd-primary" style="width: 200px">
                        <input type="text" name="q6" class="g-color-primary p-secd-font form-control form-control-md u-datepicker-v1 g-brd-right-none rounded-0"
                               id="q6_date" placeholder="Select Date" maxlength="100" style="border-color: #253BCC;">
                        <div class="input-group-append">
                            <span id="cal-span-1" class="input-group-text rounded-0 g-color-gray-dark-v5" style="border-color: #253BCC;">
                                <i class="icon-calendar" style="color: #253BCC;"></i>
                            </span>
                        </div>
                    </div>
            </div>




            <button class="btn-font btn-lg-padding border-0 btn-primary btn-top-margin button-on-hover" style="line-height: normal; min-width: 96px" type="submit">
                <span class="align-middle">Next</span>
            </button>
        </form>


    </div>

    <script type="text/javascript">
        function fmEditorDose3OnSubmit(){
            let val_q7 = $(document.getElementsByName('q7')[0]).val();
            if(val_q7 == 'idonotknow'){
                alert("We can't schedule a Booster Dose Appointment for you without knowing the brand you received for your Initial Dose.");
                return false;
            }else if(val_q7 == ''){
                alert("What vaccine did you receive initially?");
                return false;
            }
            let val_q6 = $(document.getElementsByName('q6')[0]).val();
            if (val_q6 == ''){
                alert("When did you receive your most recent vaccine?");
                return false;
            }
            $('#mainFormDose3').hide();
            $("html, body").animate({ scrollTop: 0 });
            $('#mainForm3').show();
            return false;
        }
    </script>
</main>