<style>
    .btn-large {
        padding: 24px;
        min-width: 140px;
        font-weight: 800;
    }

    .btn-small {
        padding: 10px;
        min-width: 140px;
        font-weight: 800;
    }

    .list-bullets {
        list-style-type: none;
    }

    .list-bullets li::before {
        content: "\25CF";
        color: #253BCC;
        font-weight: bold;
        display: inline-block;
        width: 2.0em;
        margin-left: -1.6em;
    }

    .eligibility-card {
        background-color: #f3f3f3;
        display: none;
    }

    .eligible-card {
        background-color: #253BCC;

    }

    .button-on-hover:hover {
        background-color: #253BCC;
        opacity: 0.8;
    }


    @media only screen and (max-width: 576px) {
        .banner-align {
            padding-top: 90px;

        }

        .banner-align-item {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    @media only screen and (min-width: 577px) and (max-width: 1433px) {
        .banner-align {
            padding-top: 230px;

        }

        .banner-align-item {
            margin-left: 50px;
            margin-right: 20px;
        }
    }

    @media only screen and (min-width: 1434px) {
        .banner-align {
            padding-top: 270px;

        }

        .banner-align-item {
            margin-left: 50px;
            margin-right: 20px;
        }
    }

    {#  doh #}

    .site-title, .page-title {
        text-align: center;
        font-family: "Helvetica Neue", "Roboto", sans-serif;
        line-height: 1.4;
    }

    .site-title {
        font-size: 1.375rem;
        color: #20567F;
        font-weight: bold;
        text-transform: uppercase;
    }

    .page-title {
        font-size: 2.625rem;
        font-weight: bold;
    }

    .help-text {
        font-weight: bolder !important;
        font-size: large !important;
        line-height: initial;
    }

    .help-text-red {
        font-size: 1rem;
        padding: 0;
        color: #c84504;
        font-weight: 500;
    }
</style>

{#<div class="bg-corona-web  d-none d-sm-block banner-align">#}
{#    <div class="g-max-width-1300 banner-align-item">#}
{##}
{#        <h1 class="h1-font g-color-white">Book your Covid-19 vaccination appointment today.</h1>#}
{#        <p class="subtitle-font g-color-white pt-3" data-i18n="covid-intake-subtitle">All eligible New Yorkers are#}
{#            able to receive a vaccine. You are NOT required to have insurance.</p>#}
{##}
{#    </div>#}
{#</div>#}
{#<div class="bg-corona-mob g-pt-115 d-sm-none banner-align">#}
{#    <div class="g-max-width-1300 banner-align-item">#}
{##}
{#        <h1 class="h1-font g-color-white pb-3">Book your Covid-19 vaccination appointment today.</h1>#}
{#        <p class="subtitle-font g-color-white" data-i18n="covid-intake-subtitle">All eligible New Yorkers are#}
{#            able to receive a vaccine. You are NOT required to have insurance.</p>#}
{##}
{#    </div>#}
{#</div>#}
{##}

<main class="g-mx-55--xl g-mx-55--lg g-mx-55--md g-mx-25--sm g-mx-25" id="mainForm1">
    <!-- Call to Action -->

    <!-- End Call to Action -->
    <!-- Login - Heading -->
    <div><br></div>
    <div class="container">
        <div class="container">
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
                <h1 class="site-title">COVID-19 VACCINE HUBS</h1>
                <h2 class="page-title">Appointment Scheduler</h2>
                <div><br></div>
                <div class="help-text help-text-red">How can we help you today?</div>
                <div><br></div>
                <div class="help-text-red help-text">Initial Series</div>
                <div><br></div>
                <div style="display: flex; flex-direction: row; flex-wrap: wrap;justify-content: center; align-items: center">
                    <div>
                        <a class="btn-doh" id="to-screen"
                           href="#">Schedule First Dose</a>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div>
                        <a class="btn-doh" id="to-screen-second-dose"
                           href="#">Schedule Second Dose</a>
                    </div>
                </div>
                <div><br></div>
                <div><br></div>
                <div class="help-text-red help-text">Booster Dose</div>
                <div><br></div>
                <div style="display: flex; flex-direction: row; flex-wrap: wrap;justify-content: center; align-items: center">
                    <div>
                        <a class="btn-doh" id="to-screen-booster-dose"
                           href="#">Schedule Booster or Additional Dose</a>
                    </div>
                </div>
                <div><br></div>
                <div><br></div>


                <div class="help-text-red help-text">Reschedule & Cancel</div>
                <div><br></div>
                <div style="display: flex; flex-direction: row; flex-wrap: wrap;justify-content: center; align-items: center">
                    <div>
                        <a class="btn-doh"
                           href="/p/reschedule-appointment/">Reschedule Appointment</a>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div>
                        <a class="btn-doh"
                           href="/p/cancel-appointment/">Cancel Appointment</a>
                    </div>
                </div>
                <div><br></div>
        {% if ShowUnder5Button %}
                <div class="help-text-red help-text" style="color: red!important;font-weight: bolder">Children Under 5 Vaccination</div>
                 <div><br></div>
                <div>
                        <a class="btn-doh-5"
                           href="/p/children5/">Schedule Appointment</a>
                    </div>
                 <div><br></div>
        {% endif %}
                {#                <div class="help-text-red help-text">Sign in or Register</div>#}
                {#                <div><br></div>#}
                {#                <div style="display: flex; flex-direction: row; flex-wrap: wrap;justify-content: center; align-items: center">#}
                {#                    {% if request.session.patientid > 0 %}#}
                {#                        <div>#}
                {#                            <a class="btn-doh"#}
                {#                               href="{% url 's_logout' %}"><span#}
                {#                                    data-i18n="somos-my-logout">Logout</span></a>#}
                {#                        </div>#}
                {#                        &nbsp;&nbsp;&nbsp;&nbsp;#}
                {#                        <div>#}
                {#                            <a class="btn-doh"#}
                {#                               href="{% url 's7_results' %}"><span#}
                {#                                    data-i18n="somos-my-results">Returning Users</span></a>#}
                {#                        </div>#}
                {##}
                {#                    {% else %}#}
                {#                        <div>#}
                {#                            <a class="btn-doh"#}
                {#                               href="{% url 's_login' %}"><span data-i18n="somos-my-login">Sign in</span>#}
                {#                            </a>#}
                {#                        </div>#}
                {#                        &nbsp;&nbsp;&nbsp;&nbsp;#}
                {#                        <div>#}
                {#                            <a class="btn-doh"#}
                {#                               href="{% url 's_signup' %}">Create an Account#}
                {#                            </a>#}
                {#                        </div>#}
                {##}
                {#                    {% endif %}#}
                {#                </div>#}
                {#                <div><br></div><div><br></div>#}
                <div class="help-text-red help-text">Serving the following locations:</div>
                <div><br></div>
                <div>
                    <div>
                        <b>Bronx:</b>
                        Bronxworks &middot; Bronx Zoo - Pop-Up Vaccine Site &middot; Doctor Urgent Medical Center -
                        Fordham
                    </div>
                    <div><br></div>
                    <div>
                        <b>Manhattan:</b>
                        Doctor Urgent Medical Center - Sherman &middot;
                        Somos MTA Sites - Various Subway Stations
                    </div>
                    <div><br></div>
                    <div>
                        <b>Long Island:</b>
                        Challenge Charter Middle School PopUp Vaccine Site &middot; Dix Hills Fire Department - Pop Up
                        Vaccine Site &middot; East Brentwood Fire Dep. - Pop Up Vaccine Site
                        &middot; Prayer Tabernacle - Pop-Up Vaccine Site &middot; PSEG - Pop Up Vaccine Site &middot
                        Cutchogue Fire Department - Pop Up Vaccine Site

                    </div>
                    <div><br></div>
                    <div>
                        <b>Queens:</b>
                        Maspeth Fleet - Pop-up Vaccine Site &middot; PS 19 - Pop-Up Vaccine Site &middot; YWCA - Pop Up
                        Vaccine Site
                    </div>
                    <div><br></div>
                    <div>
                        <b>Upstate NY:</b>
                        Clinton Community College
                    </div>
                </div>
                <div><br></div>
                <div><br></div>
                {#                <div class="help-text-red help-text">In-home vaccinations available:</div>#}
                {#                <div><br></div>#}
                {#                <div>#}
                {#                    <div>All New York City residents can <a href="https://forms.cityofnewyork.us/f/home"#}
                {#                                                            target="_blank">register#}
                {#                        here</a> to be contacted by the City to schedule an in-home vaccination.#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div><br></div>#}
                <div class="help-text-red help-text">Assistance for people with disabilities:</div>
                <div><br></div>
                <div>
                    <div>People with disabilities can get help making a vaccination appointment at an accessible site,
                        traveling to their appointment, and getting their vaccine. This kind of help is called a
                        reasonable
                        accommodation.
                    </div>
                    <br>
                    <div>If you need help making an appointment because of a disability, you can call <a
                            href="tel:18337666769">1-833-SOMOSNY</a>. To learn more about vaccination help for
                        people
                        with disabilities, visit <a
                                href="https://www1.nyc.gov/site/doh/covid/covid-19-vaccines.page#dis"
                                target="_blank">here</a>.
                    </div>
                </div>
                <div><br></div>
                {#                <div class="help-text-red help-text">Free transportation options:</div>#}
                {#                <div><br></div>#}
                {#                <div style="width: 100%">#}
                {#                    <div>If you are either over the age of 65 or have a disability, and you:</div>#}
                {#                    <ul>#}
                {#                        <li>Cannot use public transportation</li>#}
                {#                        <li>Cannot use private transportation</li>#}
                {#                        <li>Cannot rely on friends or family members for transport</li>#}
                {#                    </ul>#}
                {#                </div>#}
                {#                <div>#}
                {#                    <div>There are a number of programs available to facilitate transportation to a vaccination site:#}
                {#                    </div>#}
                {#                    <ul>#}
                {#                        <li>People who have access to Access-a-Ride can contact them at <a href="tel:+1877-337-2017">(877)#}
                {#                            337-2017</a>.#}
                {#                        </li>#}
                {#                        <li>People who have Medicaid-provided transportation can use their usual contact number to#}
                {#                            schedule#}
                {#                            transport. Alternatively, they can call <a href="tel:+1844-666-6270">(844) 666-6270</a>.#}
                {#                        </li>#}
                {#                        <li>People who need an ambulette, or who are wheelchair users and cannot ride in an accessible#}
                {#                            taxi,#}
                {#                            can schedule free transport with Hunter ambulettes at <a href="tel:+1516-812-9827">(516)#}
                {#                                812-9827</a>.#}
                {#                        </li>#}
                {#                        <li>People older than 65 who meet all of the criteria and do not qualify for above can schedule#}
                {#                            a#}
                {#                            free ride with Curb at <a href="tel:+1646-349-0289">(646) 349-0289</a>.#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                </div>#}
            </div>
        </div>
    </div>

    <!-- End Login - Heading -->

    <!-- End Login Form -->


    <!-- Login -->
    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function (event) {
            $('#to-screen').on('click', () => switch_to_screen());
            $('#to-screen-second-dose').on('click', () => switch_to_screen_second_dose());
            $('#to-screen-booster-dose').on('click', () => switch_to_screen_booster_dose());
        });

        function switch_to_screen() {
            $('#hdDoseType').val('First Dose');
            $('#mainForm1').hide();
            $("html, body").animate({scrollTop: 0});
            $('#mainForm2').show();
        }

        function switch_to_screen_second_dose() {
            $('#hdDoseType').val('Second Dose');
            $('#mainForm1').hide();
            $("html, body").animate({scrollTop: 0});
            $('#mainFormDose2').show();
        }

        function switch_to_screen_booster_dose() {
            $('#hdDoseType').val('Booster Dose');
            $('#mainForm1').hide();
            $("html, body").animate({scrollTop: 0});
            $('#mainFormDose3').show();
        }

        function fmVaccineQualificationOnSubmit() {

            if (document.getElementById('cityemp1').checked === false) {
                alert("We apologize, but we are unable to process your request at this time. This website is currently for people eligible for the vaccine. Please check back at a later time.");
                return false;
            } else {
                $('#mainForm1').hide();
                $("html, body").animate({scrollTop: 0});
                $('#mainForm2').show();
            }

            return false;
            let fmdata = $('#fmEditor').serialize();
            console.log(fmdata)
            let url = '/p/covid/?action=saveQuestionnaire';
            $.post(url, fmdata, function (res) {
                if (res.ResultCode == 0) {
                    window.location.href = '/p/sites/?qid=' + res.qid;
                } else {
                    alert(res.Error);
                }
            }, 'json');
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            $('#expand-button').on('click', () => toggle_eligibility());
        });

        function toggle_eligibility() {
            let x = document.getElementById("eligibility-card");
            // let x = $("#lang-list-web");

            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }


    </script>

</main>