{% load static %}

<main id="mainForm3" style="display: none" class="g-mx-55--xl g-mx-55--lg g-mx-55--md g-mx-25--sm g-mx-25">
    <!-- Login - Heading -->
    <div class="g-my-55">
        <div class="q-heading">
            <h3 class="h2-font">
                <span data-i18n="covid-screening-title"></span>
                <span>(2/2)</span>
            </h3>
            <h5 class="p-secd-font p-secd-font-color" data-i18n="covid-screening-form-description">loading...</h5>
        </div>
        <!-- End Login - Heading -->

        <!-- Login Form -->
        <form class="g-mb-30" action="/your-name/" method="post" id="fmEditor2" onsubmit2="return submitScreenForm();">
            {% csrf_token %}
            <input type="hidden" name="SiteMode" value="{{ SiteMode }}"/>

            <div class="div-question" id="q2">
                <h4 class="p-prim-font" data-i18n="covid-screening-1-i">loading...</h4>
                <h4 class="p-secd-font p-secd-font-color p-prim-font-margin" data-i18n="covid-screening-1-ii">loading...</h4>

                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q2" value="Yes" id="q2_yes"  >
                        <label for="q2_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-yes">Yes</span>
                        </label>

                    <input type="radio" name="q2" value="No" id="q2_no"  >
                        <label for="q2_no" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-no">No</span>
                        </label>
                </div>
            </div>

            <div class="div-question" id="q3">
                <h4 class="p-prim-font"><span data-i18n="covid-screening-2-i">loading...</span></h4>
                <h4 class="p-secd-font p-secd-font-color p-prim-font-margin"><span data-i18n="covid-screening-2-ii">loading...</span></h4>

                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q3" value="Yes" id="q3_yes"  >
                        <label for="q3_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-yes">Yes</span>
                        </label>

                    <input type="radio" name="q3" value="No" id="q3_no"  >
                        <label for="q3_no" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-no">No</span>
                        </label>

                    <input type="radio" name="q3" value="Unknown" id="q3_unknown"  >
                        <label for="q3_unknown" style="width: 170px;">
                            <span class="align-middle" data-i18n="somos-unknown">Unknown</span>
                        </label>
                </div>
            </div>


            <div class="div-question" id="q5">
                <h4 class="p-prim-font"><span data-i18n="covid-screening-3-i">loading...</span></h4>
                <h4 class="p-secd-font p-secd-font-color p-prim-font-margin"><span data-i18n="covid-screening-3-iii">loading...</span></h4>

                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q5" value="Yes" id="q5_yes"  >
                        <label for="q5_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-yes">Yes</span>
                        </label>

                    <input type="radio" name="q5" value="No" id="q5_no"  >
                        <label for="q5_no" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-no">No</span>
                        </label>

                    <input type="radio" name="q5" value="Unknown" id="q5_unknown"  >
                        <label for="q5_unknown" style="width: 170px;">
                            <span class="align-middle" data-i18n="somos-unknown">Unknown</span>
                        </label>
                </div>

            </div>

            {#          child              #}
            <div class="child-questions hide div-question" id="q6">
                    <h4 class="p-prim-font" data-i18n="covid-screening-3-ii">loading...</h4>

                    <div class="input-group g-brd-primary" style="width: 200px">
                        <input type="text" name="q6" class="g-color-primary p-secd-font form-control form-control-md u-datepicker-v1 g-brd-right-none rounded-0"
                               id="q6_date" placeholder="Select Date" maxlength="100" style="border-color: #253BCC;">
                        <div class="input-group-append">
                            <span id="cal-span-1" class="input-group-text rounded-0 g-color-gray-dark-v5" style="border-color: #253BCC;">
                                <i class="icon-calendar" style="color: #253BCC;"></i>
                            </span>
                        </div>
                    </div>
            </div>

            {#          child              #}
            <div class="div-question" id="q7">
                <h4 class="p-prim-font"><span data-i18n="covid-screening-4-i">loading...</span></h4>
                <h4 class="p-secd-font p-secd-font-color p-prim-font-margin"><span data-i18n="covid-screening-4-iii">loading...</span></h4>

                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q7" value="Yes" id="q7_yes"  >
                        <label for="q7_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-yes">Yes</span>
                        </label>

                    <input type="radio" name="q7" value="No" id="q7_no"  >
                        <label for="q7_no" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-no">No</span>
                        </label>

                    <input type="radio" name="q7" value="Unknown" id="q7_unknown"  >
                        <label for="q7_unknown" style="width: 170px;">
                            <span class="align-middle" data-i18n="somos-unknown">Unknown</span>
                        </label>
                </div>

            </div>

            {#          child              #}
            <div class="child-questions hide div-question" id="q4">
                    <h4 class="p-prim-font" data-i18n="covid-screening-4-ii">
                        loading...</h4>
                    <div class="input-group g-brd-primary" style="width: 200px">
                        <input type="text" name="q4"
                               class="g-color-primary p-secd-font form-control form-control-md u-datepicker-v1 g-brd-right-none rounded-0"
                               id="q4_date" placeholder="Select Date" maxlength="100" style="border-color: #253BCC;">
                        <div class="input-group-append">
                            <span id="cal-span-2" class="input-group-text rounded-0 g-color-gray-dark-v5" style="border-color: #253BCC">
                                <i class="icon-calendar" style="color: #253BCC"></i></span>
                        </div>
                    </div>
            </div>
            {#          child              #}

            <div class="div-question" id="q8">
                <h4 class="p-prim-font"><span data-i18n="covid-screening-5a-i">loading...</span></h4>
                <h4 class="p-secd-font p-secd-font-color p-prim-font-margin"><span data-i18n="covid-screening-5a-ii">loading...</span></h4>

                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q8" value="Yes" id="q8_yes"  >
                        <label for="q8_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-yes">Yes</span>
                        </label>

                    <input type="radio" name="q8" value="No" id="q8_no"  >
                        <label for="q8_no" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-no">No</span>
                        </label>

                    <input type="radio" name="q8" value="Unknown" id="q8_unknown"  >
                        <label for="q8_unknown" style="width: 170px;">
                            <span class="align-middle" data-i18n="somos-unknown">Unknown</span>
                        </label>
                </div>
            </div>

            <div class="div-question" id="q9">
                <h4 class="p-prim-font"><span data-i18n="covid-screening-5b-i">loading...</span></h4>
                <h4 class="p-secd-font p-secd-font-color p-prim-font-margin"><span data-i18n="covid-screening-5b-ii">loading...</span></h4>

                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q9" value="Yes" id="q9_yes"  >
                        <label for="q9_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-yes">Yes</span>
                        </label>

                    <input type="radio" name="q9" value="No" id="q9_no"  >
                        <label for="q9_no" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-no">No</span>
                        </label>

                    <input type="radio" name="q9" value="Unknown" id="q9_unknown"  >
                        <label for="q9_unknown" style="width: 170px;">
                            <span class="align-middle" data-i18n="somos-unknown">Unknown</span>
                        </label>
                </div>
            </div>

            <div class="div-question" id="q10">
                <h4 class="p-prim-font"><span data-i18n="covid-screening-6-i">loading...</span></h4>
                <h4 class="p-secd-font p-secd-font-color p-prim-font-margin"><span data-i18n="covid-screening-6-ii">loading...</span></h4>

                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q10" value="Yes" id="q10_yes"  >
                        <label for="q10_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-yes">Yes</span>
                        </label>

                    <input type="radio" name="q10" value="No" id="q10_no"  >
                        <label for="q10_no" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-no">No</span>
                        </label>

                    <input type="radio" name="q10" value="Unknown" id="q10_unknown"  >
                        <label for="q10_unknown" style="width: 170px;">
                            <span class="align-middle" data-i18n="somos-unknown">Unknown</span>
                        </label>
                </div>
            </div>

            <div class="div-question" id="q11">
                <h4 class="p-prim-font"><span data-i18n="covid-screening-7-i">loading...</span></h4>
                <h4 class="p-secd-font p-secd-font-color p-prim-font-margin"><span data-i18n="covid-screening-7-ii">loading...</span></h4>

                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q11" value="Yes" id="q11_yes"  >
                        <label for="q11_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-yes">Yes</span>
                        </label>

                    <input type="radio" name="q11" value="No" id="q11_no"  >
                        <label for="q11_no" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-no">No</span>
                        </label>

                    <input type="radio" name="q11" value="Unknown" id="q11_unknown"  >
                        <label for="q11_unknown" style="width: 170px;">
                            <span class="align-middle" data-i18n="somos-unknown">Unknown</span>
                        </label>
                </div>
            </div>

            <div class="div-question" id="q12">
                <h4 class="p-prim-font"><span
                        data-i18n="covid-screening-8a-i">loading...</span>
                </h4>
                {#                            <h4 class="h6 g-font-weight-700 g-mb-20 text-muted"><span#}
                {#                                    data-i18n="covid-screening-8a-ii">loading...</span></h4>#}

                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q12" value="Yes" id="q12_yes"  >
                        <label for="q12_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-yes">Yes</span>
                        </label>

                    <input type="radio" name="q12" value="No" id="q12_no"  >
                        <label for="q12_no" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-no">No</span>
                        </label>

                    <input type="radio" name="q12" value="Unknown" id="q12_unknown"  >
                        <label for="q12_unknown" style="width: 170px;">
                            <span class="align-middle" data-i18n="somos-unknown">Unknown</span>
                        </label>
                </div>
            </div>

            <div class="child-questions hide div-question" id="q13">
                    <h4 class="p-prim-font"><span data-i18n="covid-screening-8b-i">loading...</span></h4>
                    <h4 class="p-secd-font p-secd-font-color p-prim-font-margin"><span data-i18n="covid-screening-8b-ii">loading...</span></h4>

                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q13" value="Yes" id="q13_yes"  >
                        <label for="q13_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-yes">Yes</span>
                        </label>

                    <input type="radio" name="q13" value="No" id="q13_no"  >
                        <label for="q13_no" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-no">No</span>
                        </label>

                    <input type="radio" name="q13" value="Unknown" id="q13_unknown"  >
                        <label for="q13_unknown" style="width: 170px;">
                            <span class="align-middle" data-i18n="somos-unknown">Unknown</span>
                        </label>
                </div>
            </div>

            <div class="div-question" id="q14">
                <h4 class="p-prim-font"><span data-i18n="covid-screening-9-i">loading...</span></h4>
                <h4 class="p-secd-font p-secd-font-color p-prim-font-margin"><span data-i18n="covid-screening-9-ii">loading...</span></h4>

                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q14" value="Yes" id="q14_yes"  >
                        <label for="q14_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-yes">Yes</span>
                        </label>

                    <input type="radio" name="q14" value="No" id="q14_no"  >
                        <label for="q14_no" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-no">No</span>
                        </label>

                    <input type="radio" name="q14" value="Unknown" id="q14_unknown"  >
                        <label for="q14_unknown" style="width: 170px;">
                            <span class="align-middle" data-i18n="somos-unknown">Unknown</span>
                        </label>
                </div>
            </div>

            <div class="div-question" id="q15">
                <div class="div-FDA">
                    <h4 class="text-FDA p-prim-font" data-i18n="covid-screening-consent-i"></h4>
                </div>
                <h4 class="consent-title h2-font"><span data-i18n="covid-screening-consent-ii">loading...</span></h4>
                <h4 class="consent-detail p-prim-font"><span data-i18n="[html]covid-screening-consent-iii">I have been provided and have read the Fact Sheet (Fact Sheet can be
                    <a href="https://www.modernatx.com/covid19vaccine-eua/">found here</a>
                    ) for Recipients and CareGivers: Emergency Authorization (EUA) of the Moderna COVID-19 Vaccine Prevention Coronavirus Disease 2019 (COVID-19) in Individuals 18 YEARS of Age and Older .  I understand that if this vaccine requires two doses, two doses of this vaccine will need  to be administered (given) to me in order for it to be effective. I have been given an opportunity to ask questions which were answered to my satisfaction. I understand the benefits and risks of the vaccination as described.</span></h4>

                <div class="radio-box final-box btn-font text-center" >
                    <input type="radio" name="q15" value="Yes" id="q15_yes"  >
                        <label for="q15_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="covid-screening-accept">loading...</span>
                        </label>

                    <input type="radio" name="q15" value="No" id="q15_no"  >
                        <label for="q15_no">
                            <span class="align-middle" data-i18n="covid-screening-decline">loading...</span>
                        </label>
                </div>

            </div>

            <button class="btn-font btn-lg-padding border-0 btn-primary btn-top-margin button-on-hover" 
            style="line-height: normal; min-width: 96px" type="submit">
                <span class="align-middle" data-i18n="somos-submit">Submit</span>
            </button>
        </form>
        <!-- End Login Form -->
        <!-- Login -->

    </div>
        <!-- Login -->
    <script type="text/javascript">

        function fmVaccineQualificationOnSubmit() {

            if (document.getElementById('cityemp1').checked === false) {
                alert("We apologize, but we are unable to process your request at this time. This website is currently for people eligible for the vaccine. Please check back at a later time.");
                return false;
            } else {
                $('#mainForm2').hide();
                $("html, body").animate({ scrollTop: 0 });
                $('#mainForm3').show();
            }

            return false;
            let fmdata = $('#fmEditor').serialize();
            console.log(fmdata)
            let url = '/p/covid/?action=saveQuestionnaire';
            $.post(url, fmdata, function (res) {
                if (res.ResultCode == 0) {
                    window.location.href = '/p/sites/?qid=' + res.qid;
                } else {
                    alert(res.Error);
                }
            }, 'json');
        }




    </script>


</main>
<!-- End Content -->
