{% load static %}
<main id="mainFormDose2" style="display: none" class="g-mx-55--xl g-mx-55--lg g-mx-55--md g-mx-25--sm g-mx-25">
        <!-- Login - Heading -->
    <div class="g-my-55">
        <div class="q-heading">
            <h3 class="h2-font">
                <span>First Dose Verification</span>
            </h3>
            <h5><i class="fa fa-fw fa-asterisk text-danger"></i> indicates a required field</h5>
        </div>
        <!-- End Login - Heading -->
        <form class="g-mb-30" action="/your-name/" method="post" id="fmEditorDose2" >


            <div class="div-question" id="q3">
                <h4 class="p-prim-font"><span data-i18n_="covid-screening-2-i">
                    <i class="fa fa-fw fa-asterisk text-danger"></i>Have you received the First Dose of the COVID-19 vaccine?
                </span></h4>


                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q3" value="Yes" id="q3_yes"  onclick="$('#divFormDose2Detail').show();$('#divFormDose2Alert').hide();">
                        <label for="q3_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-yes">Yes</span>
                        </label>

                    <input type="radio" name="q3" value="No" id="q3_no"  onclick="$('#divFormDose2Detail').hide();$('#divFormDose2Alert').show();">
                        <label for="q3_no" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-no">No</span>
                        </label>

                </div>
            </div>

            <div id="divFormDose2Alert" style="display: none">
                <p class="p-prim-font g-color-red mb-5">
                    You cannot schedule a Second Dose appointment until you have received your First Dose </p>
            </div>

            <div id="divFormDose2Detail" style="display: none; margin-top: 20px">
                <p class="p-prim-font g-color-black mb-5">
                    It is important that you enter the information below exactly as it was entered when you created your First Dose Appointment.
                </p>
                <div style="margin-left: 30px">

                    <div>
                        <h4 class="p-prim-font" > <span class="g-color-red">*</span>  When did you receive your First Dose </h4>
                            <div class="input-group g-brd-primary" style="width: 200px">

                                <input type="text" name="q4"
                                       class="g-color-primary p-secd-font form-control form-control-md u-datepicker-v1 g-brd-right-none rounded-0"
                                       id="q4_date" placeholder="Select Date" maxlength="100" style="border-color: #253BCC;">
                                <div class="input-group-append">
                                    <span id="cal-span-2" class="input-group-text rounded-0 g-color-gray-dark-v5" style="border-color: #253BCC">
                                        <i class="icon-calendar" style="color: #253BCC"></i></span>

                                </div>
                            </div>
                    </div>

                    <div>
                        <h4 class="p-prim-font" > <span class="g-color-red">*</span>  What vaccine did you receive as your First Dose?
                        <select class="g-color-primary p-secd-font form-control form-control-md" style="border-color: #253BCC;" id="selQ5" name="q5" onchange="validateFirstDoseVaccineName()">
                            <option value="">Select an Option</option>
                            <option value="Moderna">Moderna</option>
                            <option value="Pfizer(age 12+)">Pfizer(age 12+)</option>
                            <option value="Johnson & Johnson">Johnson & Johnson</option>
                            <option value="Pfizer(age 5-11)">Pfizer(age 5-11)</option>
                            <option value="idonotknow">I don't know</option>
                        </select></h4>

                       <p class="p-prim-font g-color-black mb-5">
                           &nbsp;&nbsp;&nbsp;&nbsp;You can find the brand that you received on your CDC vaccination card or vaccination certificate.
                       </p>
                    </div>

                </div>
            </div>


            <button class="btn-font btn-lg-padding border-0 btn-primary btn-top-margin button-on-hover" style="line-height: normal; min-width: 96px" type="submit" id="btnSubmitFormEditorDose2">
                <span class="align-middle">Next</span>
            </button>
        </form>

        <br/>


    </div>

    <script type="text/javascript">
        function fmEditorDose2OnSubmit(){
            let vl = $('#selQ5').val();
            if(vl == ''){
                alert("What vaccine did you receive as your First Dose?");
                return false;
            }

            $('#mainFormDose2').hide();
            $("html, body").animate({ scrollTop: 0 });
            $('#mainForm3').show();
            return false;
        }

        function validateFirstDoseVaccineName(){
            let vl = $('#selQ5').val();
            let btn = $('#btnSubmitFormEditorDose2');
            if(vl == 'idonotknow'){
                alert(" We can't schedule a Second Dose Appointment for you without knowing the brand you received for your First Dose.")
                btn.hide();
            }else if(vl == 'Johnson & Johnson'){
                alert("Johnson & Johnson is a single dose vaccine, you cannot schedule a Second Dose appointment. ");
                btn.hide();
            }else{
                btn.show();
            }
        }
    </script>
</main>