{% extends '../shared/navigation.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <style>
        .child-questions {
            padding-left: 25px;
            margin-left: 25px;
            border-left: 2px dotted #253BCC;
        }

        /* .bg-corona {
            background: url({% static 'images/corona.jpg' %}) no-repeat center;
            background-color: rgba(0, 0, 0, 0.6);
            background-blend-mode: darken;
        } */

        .bg-corona {
            background: url({% static 'images/mainpic_desktop.png' %}) no-repeat center;
            background-color: rgba(0, 0, 0, 0.6);
            /* background-blend-mode: darken; */
            height: 334px;
            background-size: cover;
        }

        .form-check-inline > label > input {margin-top:4px}
        .form-check-inline > label > span {cursor:pointer}
    </style>
{% endblock %}

{% block body %}
    {% if CLINIC_ID == 3552 %}
        {% include '../rendrcare/covid_vaccine_qualification_rendr.html' %}
        {% include '../rendrcare/covid_screening_rendr.html' %}
    {%  else %}
        {% if i18n == "es" %}
            {% include './covid_vaccine_qualification_ES.html' %}
            {% include './covid_screening1_ES.html' %}
            {% include './covid_screening_ES.html' %}
            {% include './covid_screening_dose2_ES.html' %}
            {% include './covid_screening_dose3_ES.html' %}
        {% else %}
            {% include './covid_vaccine_qualification.html' %}
            {% include './covid_screening1.html' %}
            {% include './covid_screening.html' %}
            {% include './covid_screening_dose2.html' %}
            {% include './covid_screening_dose3.html' %}
        {% endif %}
    {% endif %}
    {% include './subscribe_form_popup.html' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $('#fmEditor').submit(function () {
            fmVaccineQualificationOnSubmit();
            return false;
        })

        $('#fmEditorDose2').submit(function () {
            fmEditorDose2OnSubmit();
            return false;
        })

        $('#fmEditorDose3').submit(function () {
            fmEditorDose3OnSubmit();
            return false;
        })

    </script>
    <script>
    $(document).ready(()=>{
        return // for DOH
        let sm = $('#subscribeModal')
        if(!window.localStorage.getItem('hidesubsribe')) {
            sm.modal()
        }
        sm.on('hidden.bs.modal', function (e) {
          window.localStorage.setItem('hidesubsribe','1');
        })
    })
    </script>
 {% if CLINIC_ID == 3552 %}
     {% include '../rendrcare/covid_screening_js_rendr.html' %}
  {%  else %}
     {% include './covid_screening_js.html' %}
 {% endif %}
{% endblock %}