{% extends '../shared/navigation.html' %}
{% load static %}

{% block css %}
    <title>Registration | SOMOS</title>
    <style type="text/css">
        td2 {
            font-weight: bold;
        }

        .inline-block {
            display: inline-block;
        }

        @media only screen and (max-width: 576px) {
            .banner-align {
                padding-top: 90px;

            }

            .banner-align-item {
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        @media only screen and (min-width: 577px) {
            .banner-align {
                padding-top: 230px;

            }

            .banner-align-item {
                margin-left: 50px;
                margin-right: 20px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <main>
        <!-- Breadcrumbs & Search -->
    <!--
        <div class="bg-corona-web d-none d-sm-block banner-align" style="height:365px; background-position:top; ">
            <div class="g-max-width-1300 inline-block banner-align-item">

                <h1 class="h1-font g-color-white" data-i18n_="covid-registration-title">loading...</h1>

            </div>
        </div>
        <div class="bg-corona-mob g-pt-170 d-sm-none banner-align" style="height:280px; background-position:top;">
            <div class="g-max-width-1300 banner-align-item">

                <h1 class="h1-font g-color-white" data-i18n_="covid-registration-title">loading...</h1>

            </div>
        </div>
    -->

        <div class="g-max-width-645 text-center g-pt-50 mx-auto g-mb-40 " style="min-width: 45%">
            <h4 class="mb-4 h2-font">Reserva para  <i class="fa fa-calendar"
                                                    style="color: gray"></i> {{ AppointmentDate }} <i
                    class="fa fa-clock-o" style="color: gray"></i> {{ AppointmentTime }}</h4>
            <p class="lead p-prim-font">{{ LocationName }}</p>
            <p class="lead p-prim-font">{{ LocationInfo }}</p>

            <p class="lead badge-secondary p-secd-font footer-bg-color" id="divLocking" style="display: none"> Estamos reservando este espacio para ti durante
                <span id="spHolidingTime" style="font-weight: bold;"> 5:00 minutes</span>. </p>
            <p class="lead badge-warning p-secd-font" style="display: none" id="divLockingAlert"> Todavía puede intentar completar su reserva, pero es posible que este espacio ya no esté disponible.</p>
            <script type="text/javascript">
                var holdingSeconds = {{ HoldingSeconds }};
                var myalert = setInterval(hodingAlert, 1000);

                function hodingAlert() {
                    holdingSeconds -= 1
                    if (holdingSeconds <= 0) {
                        clearInterval(myalert);
                        document.getElementById('divLocking').style.display = 'none';
                        document.getElementById('divLockingAlert').style.display = '';
                    } else {
                        document.getElementById('divLocking').style.display = '';
                    }
                    let mm = Math.floor(holdingSeconds / 60);
                    let ss = holdingSeconds % 60;
                    if (ss < 10)
                        ss = "0" + ss;
                    var msg = "" + mm + ':' + ss + ' minutes';
                    $('#spHolidingTime').html(msg);
                }
            </script>
        </div>
        <hr>
        <div class="container g-pb-30">
            <form id="fmEditor">
                <div class="container justify-content-center">
                    <div class="row " style="text-align: left">
                        <!--not sure if wenqi wants label in the top of somewhat, temporary css-->
                        <div class="col-md-12 col-lg-12 g-mb-70">

                            {% csrf_token %}
                            {% include '../shared/patient_info_ES.html' %}

                        </div>

                        <div class="col-md-12 col-lg-12 g-mb-70">
                            <div class="g-mb-20" style="margin: auto; padding: 5px;">
                                {% if SiteMode != 'PP Call Center' and CLINIC_ID != 3552 %}
                                    <h4 class="h6 g-font-weight-700 g-mb-20 p-secd-font "
                                        style="text-align: center; font-size: 16px"
                                        data-i18n_="somos-intake-tos-d">Si desea recibir información adicional sobre Somos Community Care, revise los siguientes Términos de uso y marque esta casilla para aceptar los Términos de uso y dar su consentimiento para recibir la información.</h4>
                                    <div class="p-secd-font"
                                         style="display: flex; justify-content: center; font-size: 16px">
                                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                            <input type="checkbox" name="iAgree"
                                                   class="g-xs-up g-pos-abs g-top-5 g-left-5 required"
                                                   required id="id_iAgree">
                                            <span data-i18n_="somos-intake-agree">Estoy de acuerdo</span>&nbsp;<b><a href="#"
                                                                                                           data-i18n_="somos-intake-tos"
                                                                                                           data-toggle="modal"
                                                                                                           data-target="#terms-of-service-modal">Términos de Uso</a></b><i class="fa fa-fw fa-asterisk text-danger"></i>
                                        </label>
                                        <!--
                                              <input type="text" name="iAgreeInitials"
                                                 class="form-control form-control-md rounded-0" placeholder="Initial Here"
                                                 style="width: 150px;" required id="id_iAgreeInitials" >
                                      -->
                                    </div>
                                    <div style="display: flex; justify-content: center">
                                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25 p-secd-font">
                                            {% if LocationTestType == 'I' %}
                                                <input type="checkbox" name="iUnderstandTestingfor"
                                                       value="{{ LocationTestType }}"
                                                       class="g-xs-up g-pos-abs g-top-10 g-left-5 required" required
                                                       id="id_Understand">
                                                <span>Entiendo que este sitio solo realiza pruebas de <b>Immunity/IGG</b>.</span> {% endif %}
                                            {% if LocationTestType == 'C' %}
                                                <input type="checkbox" name="iUnderstandTestingfor"
                                                       value="{{ LocationTestType }}"
                                                       class="g-xs-up g-pos-abs g-top-10 g-left-5 required" required
                                                       id="id_Understand">
                                                <span>Entiendo que este sitio solo realiza pruebas de <b>COVID</b>.</span> {% endif %}
                                        </label>

                                    </div>
                                {% else %}
                                    <div style="display: flex; justify-content: center">
                                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                            <b>Initials</b><i class="fa fa-fw fa-asterisk text-danger"></i>
                                        </label>
                                        <input type="text" name="RepInitials" isrequire="1" maxlength="20"
                                               class="form-control form-control-md rounded-0" placeholder="Initial Here"
                                               style="width: 150px" id="RepInitials">
                                    </div>
                                {% endif %}
                            </div>
                            <div style="display: flex; justify-content: center">
                                <button class="button-on-hover btn-xl btn-font btn-primary"
                                        onclick="return gotoConfirm()">
                                    <i class="fa text-white"></i> ¡Reservar ahora!
                                </button>
                                <input type="hidden" name="qid" value="{{ qid }}"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </main>
    <!-- Modal -->
    <div class="modal fade" id="terms-of-service-modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content Gotham-book">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" data-i18n_="somos-intake-tos">Términos de Uso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height:400px; overflow-y:scroll;">
                    <p data-i18n_="somos-intake-tos-a"></p>
                    <p><b data-i18n_="somos-intake-tos-b"></b></p>
                    <p data-i18n_="somos-intake-tos-c"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-i18n_="somos-close">Cierra
                    </button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
        <div id="divDialogControl"></div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function searchProvider() {
            var str = $("#PCPName").val()
            if (str && str.trim().length == 0) {
                $('#SOMOSProviderList').html('')
                $('#SOMOSProviderList').hide()
                return
            }

            $.post('/p/register/?action=searchProvider&searchStr=' + str, null, function (res) {
                if (res.HasMatchProvider == '1') {
                    $('#SOMOSProviderList').html('<option></option>' + res.ProviderListHTML)
                    $('#SOMOSProviderList').show()
                } else {
                    $('#SOMOSProviderList').html('')
                    $('#SOMOSProviderList').hide()
                }

            }, 'json');
        }


        initLoading();

        function gotoConfirm() {
            if (!validateForm()) {
                return false;
            }

            let dob = document.getElementById("PatientDOB");
            let dob_ms = new Date(dob.value).getTime();
            let now_ms = Date.now();
            let years = (now_ms - dob_ms) / 1000 / 60 / 60 / 24 / 365;

            if ({% if LocationSeniorOnly %}true{% else %}false{% endif %}) {
                let dob = document.getElementById("PatientDOB");
                let dob_ms = new Date(dob.value).getTime()
                let now_ms = Date.now()
                let years = (now_ms - dob_ms) / 1000 / 60 / 60 / 24 / 365
                if (years < 65) {
                    alert("Actualmente, este sitio es solo para pacientes mayores de 65 años. Por favor, regrese y elija un sitio diferente.")
                    return false;
                }
            }

            $("#myModalLabel").text("Please Wait");
            showLoading();
            var fmdata = $('#fmEditor').serialize();
            $.post('/p/register/?action=saveBooking', fmdata, function (res) {
                //hideLoading();
                if (res.HasError) {
                    let errr = '<div style="color: red">' + res.Errors + '</div>';
                    errr += '<div style="text-align:center; margin:25px"> <input type="button" class="btn btn-info" onclick="hideLoading()" value=" OK " /> </div>'
                    $('#loadingText').html(errr);
                    $("#myModalLabel").text("Booking Result");
                    //alert(res.Errors);
                    //hideLoading();
                } else
                    window.location.href = '/p/confirm/?appid=' + res.appid + '&qid=' + res.qid  + {% if i18n %}'&i18n={{ i18n }}'{% else %}''{% endif %};
            }, 'json');
            return false;
        }

        function initLoading() {
            $("body").append("<!-- loading -->" +
                "<div class='modal fade' id='loading' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' data-backdrop='static'>" +
                "<div class='modal-dialog' role='document'>" +
                "<div class='modal-content'>" +
                "<div class='modal-header'>" +
                "<h4 class='modal-title' id='myModalLabel'>Please wait</h4>" +
                "</div>" +
                "<div id='loadingText' class='modal-body'>" +
                "<i class='fa fa-spin fa-refresh'></i> " +
                " Loading..." +
                "</div>" +
                "</div>" +
                "</div>" +
                "</div>"
            );
        }

        function showLoading(text) {
            $("#loadingText").html(text);
            $("#loading").modal("show");
        }

        function hideLoading() {
            $('#loadingText').html("<span class='glyphicon glyphicon-refresh' aria-hidden='true'></span>Loading...");
            $("#loading").modal("hide");
        }


    </script>


    {% include  '../shared/patient_info_js.html' %}

{% endblock %}