{% extends '../shared/navigation.html' %}
{% load static %}

{% block css %}
<title>Sign up | SOMOS</title>
<style type="text/css">
    td {
        font-weight: bold;
    }

    @media only screen and (max-width: 576px) {
        .banner-align {
            padding-top: 90px;

        }
        .banner-align-item{
            margin-left: 20px;
            margin-right: 20px;
        }
        .button-align{
            justify-content: center;
        }
    }

    @media only screen and (min-width: 577px) {
        .banner-align {
            padding-top: 230px;

        }
        .banner-align-item{
            margin-left: 50px;
            margin-right: 20px;
        }
    }
</style>
{% endblock %}

{% block body %}
<main>
    <!-- Breadcrumbs & Search -->

    <div class="bg-corona-web d-none d-sm-block banner-align" style="height:365px; background-position:top">

        <div class="g-max-width-645 banner-align-item">

            <h1 class="h1-font g-color-white">Create An Account</h1>

        </div>
    </div>
    <div class="bg-corona-mob g-pt-170 d-sm-none banner-align" style="height:280px; background-position:top">
        <div class="g-max-width-645 banner-align-item">

            <h1 class="h1-font g-color-white g-font-weight-600">Create An Account</h1>

        </div>
    </div>

    <div class="container g-pb-30" style="margin-top:70px">
        <form id="fmEditor">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-7 g-mb-30">
                    {% csrf_token %}
                    {% include '../shared/patient_info.html' %}

                    <div class="button-align" style="display: flex; padding-top: 5%">
                        <button class="button-on-hover btn-xl btn-font btn-primary" onclick="return gotoConfirm(this)">
                             {{ PageButtonSubmit }}
                        </button>
                    </div>
                </div>

                <div class="col-md-5 col-lg-5 g-mb-70">

                    <h4 class="h6 g-font-weight-700 g-mb-20 p-secd-font" style="font-size: 16px">Please download VIPHealth to manage your COVID-19
                        vaccination appointment.</h4>

                    <h4 class="h6 g-font-weight-700 g-mb-20 p-secd-font" style="font-size: 16px">To access VIPHealth app, please scan QR code below, or
                        search "VIPHealth" in App Store/ Google Play.</h4>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <img class="down_app_qrcode" src='/p/static/images/app.png'
                                style=" width:150px;   display: block; margin-left: auto; margin-right: auto;" />
                        </div>
                    </div>

                    <a target="_blank" href="https://mobile.mdland.com/ezhealthapiservice/page/download.htm"
                        class="btn-xl btn-font btn-primary btn btn-info btn-lg down_app_button" style="border-radius:0; margin-left:15%; margin-right: 15%" >Download VIPHEALTH</a>

                </div>

            </div>


        </form>
        <div id="divDialogControl"></div>
    </div>
</main>

{% endblock %}


{% block js %}
<script type="text/javascript">
    function gotoConfirm(btn) {
        if (!validateForm()) {
            return false;
        }
        MG.Modal.showLoading();
        var fmdata = $('#fmEditor').serialize();
        var mode = $(btn).text();
        $.post('/p/signup/?action=SaveSignUp', fmdata, function (res) {
            MG.Modal.hideLoading();
            if (res.HasError) {
                MG.Global.AlertMessage(res.Errors, 'Confirm',
                    function () {

                    });
            } else {
                // window.location.href = res.GotoUrl;
                // show qrcode when finished
                if (mode && mode.trim() == "Update")
                    $("#mg_modal_appdown_update").modal("show");
                else
                    $("#mg_modal_appdown_create").modal("show");
            }

        }, 'json');
        return false;
    }

</script>

{% include '../shared/patient_info_js.html' %}

{% endblock %}