{% extends '../shared/navigation.html' %}

{% load static %}
{% block css %}
<style>
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .button-change-date {
    background-color: white;
    border: none;
    {#color: #253BCC;#}
    color: #007AC2;  {# for DOH #}
  }

  .data-container {
    position: relative;
    width: 100%;
    min-width: 350px;
  }

  .date-style {
    width: 67px;
    background-color: white;
    text-align: center;
    height: 63px;
    border: none;
    text-align: center;
  }

  .date-style-pick {
    height: 63px;
    {#background-color: #253BCC;#}
    background-color: #007AC2;  {# for DOH #}
    text-align: center;
    color: white;
    width: 67px;
    border: none;
    text-align: center;
  }

  .date-style-available {
    width: 67px;
    background-color: white;
    text-align: center;
    {#color: #253BCC;#}
    color: #007AC2;  {# for DOH #}
    height: 63px;
    border: none;
    text-align: center;
  }

  .timeslot {
    /* max-width: 106px; */
    max-width: 115px;
    height: 39px;
    {#border: 2px #253BCC solid;#}
    border: 2px #007AC2 solid; {# for DOH #}
    background-color: white;
    margin-left: 8px;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
    {#color: #253BCC;#}
    color: #007AC2;  {# for DOH #}
    font-weight: 800;
    white-space: nowrap;
    /* min-height: 60px; */
  }

   .timeslot.g-color-primary, .timeslot-active.g-color-primary {
    color: #007AC2 !important;
}

  @media only screen and (max-width: 1200px) {
    .info-height {
      min-height: 80px !important;
      margin-top: 10px;
      width: 100%;
      padding:0;
      margin-bottom: 10px;
    }
    .map-display{
    min-height: 308px;
  }
  }

  @media only screen and (min-width: 1201px) {
    .info-height {
      min-height: 308px !important;
      width: 100%;
      padding:0;
      margin-bottom: 10px;
    }

  }

  @media only screen and (max-width: 767px) {
    .daterange-selector{
    min-width: 335px;
    margin: auto;
    width: 60%;
  }

  }

  @media only screen and (min-width: 768px) {
    .daterange-selector{
    min-width: 335px;
    float: right;
  }
  }


  .timeslot-active {
    max-width: 106px;
    /* min-width: 60px; */
    height: 39px;
    {#border: 2px #253BCC solid;#}
    border: 2px #007AC2 solid; {# for DOH #}
    {#background-color: #253BCC;#}
    background-color: #007AC2; {# for DOH #}
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;
    font-weight: 600;
  }

  /* .daterange-selector{
    min-width: 310px;
  } */

  /* {#.appointment-slot {
      background-color: yellow;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px
    }#}

    {#.appointment-slot-closed {
      background-color: grey;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px
    }#} */

  .appointment_card {    width: 100%;    border: 1px solid #cccccc !important;    border-radius: 6px;   padding: 0.75rem 1rem;margin-bottom: 0.5rem;}

</style>
{% endblock %}

{% block body %}

<body>
  <!-- Content -->
  <main style="min-height: 1000px">

    <!-- New UI Banner-->
<!--
    <div class="bg-corona-web g-pt-65 d-none d-sm-block">     </div>
  -->
      <div class="g-max-width-1300 mx-5" style="padding-top: 5px;">

        <h2 class="h2-font mb-2 g-color-white2 g-font-weight-600" data-i18n__="covid-find-site">Programar una cita</h2>
          <div  class="req_representation" style="margin-bottom: 20px"><span class="g-color-red">*</span> indica un campo obligatorio</div>
        <!-- Input Group -->
        <form class="g-width-802x">
          <div class="row justify-content-left g-mx-5--md">
              <div class="col-10  g-px-0--sm g-mb-30">
                  <div style="float: left;margin-right: 10px">
                     <span class="g-color-red">*</span> Iniciar búsqueda el<br/>
                      <!--
                     <input class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-15" style="width: 160px"
                            type="text" id="week-of-datepicker" value="{{ BookingDay }}" />  -->

                      <div class="input-group g-brd-primary--focus">
                          <div class="input-group-prepend g-color-gray-light-v1 g-font-size-12 rounded-0">
                            <div class="input-group-text justify-content-center g-width-40 g-bg-white g-brd-gray-light-v3">
                              <i class="icon-calendar"></i>
                            </div>
                          </div>
                          <input id="week-of-datepicker" value="{{ BookingDay }}" class="form-control form-control-md u-datepicker-v1 g-brd-gray-light-v3 g-font-weight-500 rounded-0 g-py-11"
                                 type="text" style="width: 160px" data-range="true" data-to="datepickerTo">
                        </div>

                  </div>

                  <div style="float: left; margin-right: 10px">
                        Ordenar por código postal, ciudad o dirección <br/>
              <input id="txtZipcode" class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-11" type="text" style="width: 500px"
                placeholder="" />
                           </div>

                  <div style="float: left; margin-right: 10px">
                      <br/>
                      <button id="searchSubmit"
                            class="Gotham-black g-font-size-15 btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover rounded-0 g-px-18 g-py-10"
                            style="max-width:130px"
                            type="submit" data-i18n_="somos-search">
                            Buscar
                          </button>
                  </div>
                  <div style="clear: both">
                      A continuación se muestra el primer día con citas disponibles. Seleccione un lugar y hora para la cita. Haga clic en Siguiente o Anterior para navegar a días adicionales con citas disponibles. Si selecciona una fecha sin citas disponibles, se lo llevará automáticamente a la próxima fecha disponible.
                  </div>
            </div>
            <div class2="col-2 g-px-0--sm g-mb-30" style="display: none">
                <select class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-10" name="VaccineOffered" id="selVaccineOffered" style="width: 100%">
                    <option value="">Any vaccine</option>
                    <option value="Johnson18">Johnson & Johnson (18+)</option>
                    <option value="Moderna18">Moderna (18+)</option>
                    <option value="Pfizer12">Pfizer (12+)</option>
                    <option value="Pfizer0511">Pfizer (5-11)</option>
                </select>
            </div>

          </div>
        </form>
        <!-- End Input Group -->
      </div>
<!--
    <div class="bg-corona-mob g-pt-115 d-sm-none">
      <div class="g-max-width-1300 text-center mx-auto">

        <h1 class="h1-font mb-0 g-color-white g-font-weight-600" data-i18n_="covid-find-site">Find the closest sites for
          COVID-19 Vaccination</h1>
        <form class="mt-3 mx-3">
          <div class="row justify-content-center">
            <div class="col-12 g-px-0--sm g-mb-0">
              <input id="txtZipcode" class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-15" type="text"
                placeholder="Search by Zip Code, City or Address" />
            </div>

            <div class="col-12 g-px-0--sm g-mb-30">
              <button id="searchSubmit"
                class="Gotham-black btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover rounded-0 g-px-18 g-py-15"
                type="submit" data-i18n_="somos-search">
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  -->


    <!-- End New UI Banner-->

    <!-- Promo Block -->
    <!-- <div
      class="g-bg-cover {# g-bg-pos-top-center #} g-bg-img-hero g-bg-cover {# g-bg-black-opacity-0_5--after #} g-py-10 bg-corona">
      <div class="container g-pos-rel g-z-index-1">

        
        <form>
          <div class="row justify-content-center g-mx-5--md">
            <div class="col-sm-9 col-lg-7 g-px-0--sm g-mb-30">
              <input id="txtZipcode" class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-15" type="text"
                placeholder="Search by Zip Code, City or Address" />
            </div>

            <div class="col-sm-3 col-lg-2 g-px-0--sm g-mb-30">
              <button id="searchSubmit"
                class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15"
                type="submit" data-i18n_="somos-search">
                Search
              </button>
            </div>
          </div>
        </form>
      
      </div>
    </div> -->



      <div class="container-fluid" style="width: 100%; padding-top: 30px;">
        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-6 g-mb-30" style="display: flex">
{#            <input id="week-of-datepicker" value="{{ BookingDay }}" placeholder="Select Week Of" class="form-control form-control-md u-datepicker-v1 rounded-0" type="text" style="width: 200px" >#}
{#            <button onclick="getCovidTestingSite()" class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-10 g-py-10" type="submit" style="width: 100px">#}
{#              Search#}
{#            </button>#}
          <h5 id="result-text"></h5>

          </div>

           <div class="col-sm-1 col-lg-1 g-mb-30"  >

            </div>

          <div class="col-sm-3 col-lg-2 g-mb-30">
            <button onclick="changeSlotDate(-1)" class="btn btn-block u-btn-outline-primary u-btn-primary__ g-color-white__ g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-10 g-py-10" data-i18n_= "somos-previous-5-days" type="submit">
              Anterior
            </button>
          </div>
            <div class="col-sm-2 col-lg-1 g-mb-30" style="margin-top: 10px; text-align:center;font-weight: bold" id="divCurrentDay">

            </div>
          <div class="col-sm-3 col-lg-2 g-mb-30">
            <button onclick="changeSlotDate(1)" class="btn btn-block u-btn-outline-primary g-color-white__ g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-10 g-py-10" data-i18n_= "somos-next-5-days" type="submit">
              Siguiente
            </button>
          </div>

        </div>


          <div id="h3Loading" style="display: none" class="row">
                <h3 ><i class="fa fa-spin fa-fw fa-spinner"></i>Loading</h3>
              </div>
        </div>

    <!-- End Breadcrumbs & Search -->
    <div class="g-max-width-1300  g-mx-25--sm g-mx-50--md g-mx-50--lg g-mx-50--xl g-mx-25 g-my-50--xl g-my-20--sm g-my-25 g-px-0" style="display: none">
      <div class="row">
        <div class="col-md-7 g-color-primary">
          <h5 id="result-text" class="p-prim-font"></h5>
        </div>
        <div class="col-md-5">
          <div class=" g-width-350 daterange-selector">
{#            <button id="prange" class="prange g-width-50 g-height-50 button-change-date" onclick="changeSlotDate(-5)"#}
{#              type="submit">#}
{#              <i class="fa fa-chevron-left"></i></button>#}
{##}
{#            <div class="d-inline g-color-primary g-brd-primary u-icon-v2 px-2 py-2">#}
{#              <img src="/p/static/images/icon_calendar.png" class="" alt="Calendar"><span class="Gotham-book px-2 g-font-weight-600"#}
{#                id="drange"><i class="fa fa-fw fa-spin fa-spinner"></i><!-- Feb 22 - Feb 26 --></span>#}
{#            </div>#}
{##}
{#            <button id="frange" class="frange g-width-50 g-height-50 button-change-date" onclick="changeSlotDate(5)"#}
{#              type="submit">#}
{#              <i class="fa fa-chevron-right"></i></button>#}

          </div>
        </div>
      </div>

    </div>





    {% if ValidQidCode > 0 %}
    <script type="text/javascript">
      alert("Comience con una 'Calificación de vacunas' válida ");
      window.location.href = '/p/covid/';
    </script>
    {% endif %}

    <div class="g-mx-55--xl g-mx-55--lg g-mx-55--md g-mx-25--sm g-mx-25 " id="divContent">
      <h3><i class="fa fa-spin fa-fw fa-spinner"></i>Loading</h3>
    </div>
    <!-- List View -->
  <!--
      <input type="hidden" id="week-of-datepicker" value="{{ BookingDay }}" />
  -->
  </main>
  <!-- End Content -->

  {% endblock %}

  {% block i18n_promise %}
  //$("#txtZipcode").attr("placeholder", $.i18n("somos-search-by"));
  {% endblock %}

  {% block js %}
  <script type="text/javascript">
    /*global $*/
    $(document).on('ready', function () {
      $.HSCore.components.HSDatepicker.init('#week-of-datepicker', { dateFormat: 'mm/dd/yy' });
      $("#searchSubmit").on("click", function (e) {
        e.preventDefault();
        getCovidTestingSite();
      });
    });

    function displayRange(start) {
      const monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
      ];
      let d = new Date(`${start} EST`)
      nd = new Date(`${start} EST`)
      nd.setDate(d.getDate() + 4)
      $("#drange").html(`${monthNames[d.getMonth()].slice(0, 3)} ${d.getDate()} - ${monthNames[nd.getMonth()].slice(0, 3)} ${nd.getDate()}`)
    }


    function getCovidTestingSite(step) {
      var day = $('#week-of-datepicker').val();
      var zipcode = $('#txtZipcode').val();
      $('#h3Loading').show();
      let vaccineOffered = $('#selVaccineOffered').val();
      var url = '/p/sites/?action=getSiteWithSlot&zipcode=' + zipcode + '&day=' + day +"&vaccineOffered=" + vaccineOffered +"&locationID={{ LocationID }}";
      if (typeof (step) == 'undefined') {
        step = 0
      }
      url += '&step=' + step;
      url += '&qid={{ qid }}'
      $("#drange").html('<i class="fa fa-fw fa-spin fa-spinner"></i>')
      $(".frange").attr("disabled", true)
      $(".frange").addClass("text-muted")
      $(".prange").attr("disabled", true)
      $(".prange").addClass("text-muted")
      $.post(url, function (res) {
           $('#h3Loading').hide();
        $('#divContent').html(res.Content);
        $('#week-of-datepicker').val(res.BookingDay);
        $('#divCurrentDay').html(res.BookingDay);
        $(".frange").attr("disabled", false)
        $(".frange").removeClass("text-muted")
      if (res.Prev) {
        $(".prange").attr("disabled", false)
        $(".prange").removeClass("text-muted")
      } else {
          $(".prange").attr("disabled", true)
          $(".prange").addClass("text-muted")
        }

        let loaded = window.localStorage.getItem("loaded");
        let result_text = "Mostrando " + res.Count + " ubicaciones" + " cerca de " + "'" + res.GAddr + "'";
        if (res.Count == 0) {
          result_text = "Pedimos disculpas por las molestias, no hay franjas horarias disponibles durante este período. Pruebe con un período diferente o vuelva a consultar más tarde, <a style='color:red' href='/p/signup/'>o crea una cuenta para las últimas actualizaciones.</a>"
        }
        if (!loaded) {
          result_text = "Mostrando " + res.Count + " ubicaciones";
          window.localStorage.setItem("loaded", true)
        }
        $("#result-text").html(result_text)
        displayRange(res.BookingDay)
      })
    }

    function selectSlot(empid, olid, bookTime) {
      var qid = '{{ qid }}';
      var fmdata = { 'EmpID': empid, 'Olid': olid, 'BookTime': bookTime };
      var url = '/p/sites/?action=setSelectedSlot&qid=' + qid;
      if (qid == '') {
        alert("¡No ha enviado un cuestionario válido, por lo que no puede continuar con su operación!");
        return;
      }
      MG.Modal.showLoading();
      $.post(url, fmdata, function (res) {
        if (res.ResultCode > 0) {
          MG.Modal.hideLoading();
          getCovidTestingSite();
          let modal = $("#error-modal").modal()
          modal.find(".modal-title").html($.i18n(res.Errors[0]));
          modal.find(".modal-message").html($.i18n(res.Errors[1]));
        } else {
          window.location.href = '/p/register/?qid={{ qid }}' + {% if i18n %}'&i18n={{ i18n }}'{% else %}''{% endif %};
        }
      }, 'json');
      let countdownfromdate = Date.now()
      sessionStorage.setItem('countdownfromdate', countdownfromdate)
    }

    function gotoRegistry(DT) {
      //window.location.href = '/p/register/?qid={{ qid }}'
    }

    getCovidTestingSite();

    function changeSlotDate(step) {
      getCovidTestingSite(step)
    }

  </script>
  {% endblock %}