<style>
    .timeslot:hover {
        text-decoration: none;
    }

    @media only screen and (max-width: 482px) {
        .timeslot {
            font-size: 16px;

        }
    }

    @media only screen and (min-width: 483px) and (max-width: 575px) {
        .timeslot {
            font-size: 16px;

        }

    }

    @media only screen and (min-width: 576px) and (max-width: 850px) {
        .timeslot {
            font-size: 17px;

        }

    }

    @media only screen and (min-width: 851px) and (max-width: 1433px) {
        .timeslot {
            font-size: 18px;

        }

    }

    @media only screen and (min-width: 1434px) {
        .timeslot {
            font-size: 19px;

        }

    }
</style>
<div>
    <div class="row mb-3 g-pl-50--sm g-pl-5--md g-pl-10--lg g-pl-50--xl" style="position:relative;">
        <div class="col-1" style="position:relative; left:-10px;">
            <button id="prange" class="prange g-width-50 g-height-50 button-change-date" onclick="changeSlotDate(-5)"
                    type="submit">
                <i class="fa fa-chevron-left"></i></button>
        </div>
        {% for key, value in days_dict.items %}
            <div class="col-2">
                <button data-show="{{ key }}"
                        class="g-height-64 sel_{{ value.olid }} {% if key == fod.0 and value == fod.1 %}date-style-pick{% else %}date-style-available{% endif %}"
                        {% if not value.slot_list %}
                        style="background-color:lightgray;color:white;"
                        {% endif %}
                        onclick="{$('.slots_{{ value.olid }}').hide();$(`#${$(this).data('show')}`).show();$('.sel_{{ value.olid }}').removeClass('date-style-pick').addClass('date-style-available');$(this).removeClass('date-style-available').addClass('date-style-pick')}"
                >
                    <h5 class="g-font-size-15 Gotham-book" style="margin-top:8px;">{{ value.day_short }}<br>
                        <span class="Gotham-black g-font-size-20" style="white-space: nowrap;">{{ value.date }}</span>
                    </h5>
                </button>
            </div>
        {% endfor %}
        <div class="col-1" style="position:relative; left:-15px; background-color:rgba(0, 0, 0, 0.0)">
            <button style="background-color:rgba(0, 0, 0, 0.0)" i
                    d="frange" class="frange g-width-50 g-height-50 button-change-date" onclick="changeSlotDate(5)"
                    type="submit">
                <i class="fa fa-chevron-right"></i></button>
        </div>
    </div>
    {% for key, value in days_dict.items %}
        <div class="slots_{{ value.olid }} row" id="{{ key }}">
            {% if not value.slot_list %}
                <h3 class="text-danger g-pl-10 Gotham-book"><br>No available appointments on this date.</h3>
            {% endif %}
            {% for slot in value.slot_list %}
                <a class="col-3 timeslot text-center g-color-primary Gotham-book" href='javascript:void(0);'
                   onclick="{$(this).addClass('timeslot-active');selectSlot({{ slot.slot_select }})}"
                >{{ slot.slot_name }}</a>
            {% endfor %}
        </div>{% if key != fod.0 and value != fod.1 %}
        <script>
            $("#{{ key }}").hide()
        </script>{% endif %}
    {% endfor %}
</div>