{% extends '../shared/navigation.html' %}

{% block css %}

{% endblock %}


{% block body %}
  <body>
   <main>
   <!-- Content -->
       <div class="bg-corona g-py-100">
           <div class="g-max-width-645 text-center mx-auto">

               <h1 class="g-color-white g-font-weight-600">Notify me while vaccine is available.</h1>

           </div>
       </div>

       <!--Form-->
       <div class="container g-pb-30" style="margin-top:10px" id="divForm">

           <form id="fmEditor">
               <div>
                  <h3>Please fill out the form, we will notify you when a vaccine is available in your area</h3>
               </div>
               <div class="row justify-content-center">
                   <div class="col-md-7 col-lg-7 g-mb-30">
                       {% csrf_token %}
<table cellpadding="3" cellspacing="3">
   <tr>
       <td>First Name<i class="fa fa-fw fa-asterisk text-danger"></i></td>
       <td style="width: 400px"><input class="form-control" type="text" isrequire="1" name="PatientFirstName"
                                       id="PatientFirstName"
                                       value="{{ Pat.PatientFirstName }}" maxlength="32" style="width: 100%"></td>
   </tr>
   <tr>
       <td>Last Name<i class="fa fa-fw fa-asterisk text-danger"></i></td>
       <td><input class="form-control" type="text" isrequire="1" name="PatientLastName" id="PatientLastName"
                  value="{{ Pat.PatientLastName }}" maxlength="32" style="width: 100%">
       </td>
   </tr>
   <tr>
       <td>DOB<i class="fa fa-fw fa-asterisk text-danger"></i></td>
       <td>
           <div class="input-group g-brd-primary--focus">
               <input type="text" name="PatientDOB" maxlength="10" isrequire="1"
                      id="PatientDOB" value="{{ Pat.PatientDOB }}"
                      class="form-control form-control-md g-brd-right-none rounded-0"
                      placeholder="MM/DD/YYYY" required>
               <div class="input-group-append">
                                                   <span class="input-group-text rounded-0 g-color-gray-dark-v5"></span>
               </div>
           </div>
       </td>
   </tr>
   <tr>
       <td>Zip Code<i class="fa fa-fw fa-asterisk text-danger"></i></td>
       <td><input class="form-control" type="text" isrequire="1" maxlength="5"
                  name="PatientAddrZip" value="{{ Pat.PatientAddrZip }}"
                  id="PatientAddrZip"></td>
   </tr>

   <tr>
       <td>Mobile Number<i class="fa fa-fw fa-asterisk text-danger"></i></td>
       <td><input class="form-control" isphone="1" type="text" maxlength="16"
                  isrequire="1" value="{{ Pat.PatientMobilePhone }}"
                  onkeydown="oldPhoneTextValue = this.value;" title="xxx-xxx-xxxx"
                  name="PatientMobilePhone" id="PatientMobilePhone"
                  onkeyup="autoFillPhone(this,event);"></td>
   </tr>

   <tr>
       <td>Email

               <i class="fa fa-fw fa-asterisk text-danger"></i>

       </td>
       <td><input class="form-control" type="text" maxlength="32" isrequire="1"
                  name="PatientEmail" value="{{ Pat.PatientEMail }}"
                  id="PatientEmail" style="width: 100%"></td>

   </tr>

</table>

                       <div style="display: flex; justify-content: center">
                           <button class="btn btn-xl btn-success" onclick="return gotoConfirm(this)">
                               <i class="fa fa-check-circle-o text-white"></i> Submit
                           </button>
                           &nbsp;&nbsp;
                           <button class="btn btn-xl btn-primary" onclick="window.history.back()">
                               <i class="fa fa-close text-white"></i> Cancel
                           </button>

                       </div>
                   </div>
               </div>
           </form>
       </div>


       <div class="container g-pb-30" style="margin-top:40px; margin-bottom: 40px;display: none" id="divFormSubmitted">
            <h3 class="g-color-green">Your form have been save successfully, we will notify you when a vaccine is available in your area.</h3>
               <div style="display: flex; justify-content: center; margin-top: 50px">
                       <button class="btn btn-xl btn-success" onclick="gobackClick()">
                               <i class="fa fa-check-circle-o text-white"></i> Go Back
                           </button>
               </div>
       </div>

   </main>
  </body>
   <script type="text/javascript">
   function gobackClick(){
       var qid = '{{ qid }}';
       if( qid != ''){
           window.location.href='/p/sites/?qid=' + qid;
       }else{
           window.location.href = '/p/covid/';
       }
   }

   function autoFillPhone(){

   }

   function trimStr(x1) {
       if (x1 == null || x1.length <= 0)
           return "";
       return x1.trim();
   }

   function validateForm(){
       var ret = true
       $('[isrequire="1"]').each(function () {
               if (!ret) return

               var obj = $(this);
               if (obj.is('select') || obj.attr('type') == 'text') {
                   if (trimStr(obj.val()).length == 0) {
                       ret = false
                       obj.focus()
                   }
               } else if (obj.attr('type') == 'radio') {
                   var val = ''
                   $('[name="' + obj.attr('name') + '"]').each(function () {
                       if ($(this)[0].checked)
                           val = $(this).val()
                   })
                   if (val == '') {
                       ret = false
                       obj.focus()
                   }
               }
           });

       if (!ret) {
               alert('Please fill in the required * fields.')
               return false
           }

       return ret;
   }

   function gotoConfirm(){
       if (!validateForm()) {
           return false;
       }
       MG.Modal.showLoading();
       var fmdata = $('#fmEditor').serialize();
       $.post('/p/subscribe/?action=SaveSubscribe', fmdata, function (res) {
               MG.Modal.hideLoading();
               if (res.HasError) {
                   MG.Global.AlertMessage(res.Errors, 'Confirm',
                        function () {

                       });
               } else{
                   $('#divForm').hide();
                   $('#divFormSubmitted').show();
               }

           }, 'json');
           return false;

   }
   </script>
{% endblock %}
