@charset "UTF-8";
/*------------------------------------
  Default Styles
------------------------------------*/

/*customise font family*/
@font-face {
  font-family: 'Gotham-Bold';
  src: url('Gotham-Font/Gotham-Bold.otf') format("opentype"); /* IE9 Compat Modes */
   font-weight: 700;
 }
@font-face {
  font-family: 'Gotham-Black';
  src: url('Gotham-Font/Gotham-Black.otf') format("opentype"); /* IE9 Compat Modes */
   font-style: normal;
   font-weight:800;
 }
@font-face {
  font-family: 'Gotham-Book';
  src: url('Gotham-Font/Gotham-Book.woff') format('woff'), /* IE9 Compat Modes */
        url('Gotham-Font/Gotham-Book.woff2') format('woff2'),
        url('Gotham-Font/Gotham-Book.ttf') format('truetype');
   font-style: normal;
   font-weight:400;
 }

 /* For Web */
 @media only screen and (min-width: 576px) and (max-width:850px) {
  .h1-font{
    font-size: 34px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
  .subtitle-font{
    font-size: 21px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
 }

 @media only screen and (min-width: 851px) and (max-width: 1433px) {
  .h1-font{
    font-size: 48px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
  .subtitle-font{
    font-size: 28px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
 }

 @media only screen and (min-width: 1434px) {
  .h1-font{
    font-size: 52px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
  .subtitle-font{
    font-size: 32px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
 }
 
 @media only screen and (min-width: 576px) {
  .h2-font{
    font-size: 34px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
  
  .h3-font{
    font-size: 28px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
  
  .p-prim-font{
    font-size: 24px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
  
  .p-secd-font{
    font-size: 20px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
  
  .btn-font{
    font-size: 20px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
   
  .link-font{
    font-size: 24px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
    text-decoration: underline;
  }

  .btn-lg-padding{
    padding: 24px;
    min-width: 140px;
  }

  .btn-sm-padding{
    padding: 10px 20px;
  }

  .btn-lang-padding{
    padding: 8px;
  }

  .btn-signin-padding{
    padding: 14px 16px;
  }
 }

 /* For Mobile */
 @media only screen and (max-width: 575px) {
  .h1-font{
    font-size: 32px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
  
  .h2-font{
    font-size: 28px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
  
  .h3-font{
    font-size: 24px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
  
  .p-prim-font{
    font-size: 20px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
  
  .p-secd-font{
    font-size: 20px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
  
  .btn-font{
    font-size: 20px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
  
  .subtitle-font{
    font-size: 22px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
  }
  
  .link-font{
    font-size: 20px;
    font-family: "Helvetica Neue", "Roboto", sans-serif !important;
    text-decoration: underline;
  }

  .btn-lg-padding{
    padding: 30px 10px;
    min-width: 160px;
  }

  .btn-sm-padding{
    padding: 10px 20px;
  }

  .btn-lang-padding{
    padding: 4px;
  }

  .btn-signin-padding{
    padding: 8px 16px;
  }
}

 .Gotham-bold {
  font-family: "Helvetica Neue", "Roboto", sans-serif !important;
}

.Gotham-book{
  font-family: "Helvetica Neue", "Roboto", sans-serif !important;
}

.Gotham-black {
  font-family: "Helvetica Neue", "Roboto", sans-serif !important;
}