
{% load static %}
<style type="text/css">
    p{font-size: 15px!important;line-height: 1.1!important;margin-bottom: 10px!important;}
</style>
<main id="mainForm3" style="display: none" class="g-mx-55--xl g-mx-55--lg g-mx-55--md g-mx-25--sm g-mx-25">
    <!-- Login - Heading -->
    <div class="g-my-55">
        <div class="q-heading">
            <h3 class="h2-font">
                <span data-i18n_="covid-screening-title">Health Screening and Attestation</span>

            </h3>
            <h5 class="p-secd-font p-secd-font-color"><i class="fa fa-fw fa-asterisk text-danger"></i> indicates a required field</h5>
        </div>
        <!-- End Login - Heading -->

        <!-- Login Form -->
        <form class="g-mb-30" action="/your-name/" method="post" id="fmEditor2" onsubmit2="return submitScreenForm();">
            {% csrf_token %}
            <input type="hidden" name="SiteMode" value="{{ SiteMode }}"/>

            <div class="div-question" id="q2">
                <h4 class="p-prim-font" data-i18n_="covid-screening-1-i">
                    <i class="fa fa-fw fa-asterisk text-danger"></i>
                    Have you ever had a serious or life-threatening allergic reaction, such as hives or difficulty breathing,
                    to a previous dose of COVID-19 vaccine or any component of the vaccine?

                </h4>
                <h4 class="p-secd-font p-secd-font-color p-prim-font-margin" data-i18n_="covid-screening-1-ii"></h4>

                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q2" value="Yes" id="q2_yes"  onclick="$('#btnSubmit').hide();$('#divExitHint').show()">
                        <label for="q2_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-yes">Yes</span>
                        </label>

                    <input type="radio" name="q2" value="No" id="q2_no"  onclick="$('#btnSubmit').show();$('#divExitHint').hide()">
                        <label for="q2_no" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-no">No</span>
                        </label>
                </div>
                <div class="" style="display: none;" id="divExitHint">
                    <p class="p-prim-font g-color-red">
                        At this time, you are not eligible to receive the COVID-19 vaccine.
                    </p>
                </div>
            </div>




            <div class="div-question" id="q15">

                <h4 class="consent-title h2-font"><span data-i18n="covid-screening-consent-ii">loading...</span></h4>
                <h4 class="consent-detail p-prim-font"><span data-i18n_="[html]covid-screening-consent-iii">
                    <i class="fa fa-fw fa-asterisk text-danger"></i>
                    I hereby certify under penalty of law that the information presented herein is true and accurate; and that I am, or the person for whom I am legally authorized to make healthcare decisions is, 5 years of age or older and resides in the United States.
                    I understand that knowingly providing false information on this form is a class A misdemeanor and may result in up to a year in jail or a $1,000 fine.
                </span></h4>

                <div class="radio-box final-box btn-font text-center" >
                    <input type="radio" name="q15" value="Yes" id="q15_yes"  >
                        <label for="q15_yes" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="covid-screening-accept">loading...</span>
                        </label>

                    <input type="radio" name="q15" value="No" id="q15_no"  >
                        <label for="q15_no">
                            <span class="align-middle" data-i18n="covid-screening-decline">loading...</span>
                        </label>
                </div>

            </div>

            <div class="p-prim-font g-color-black mb-5" >
                 <div>   <b>Minors</b></div>
<p>
Minors (ages 6 months to 17 years) may only receive the Pfizer or Moderna vaccine.
</p>
                <p>
Minors must have parental, guardian or legal custodian consent, unless the minor is part of a group to whom the law gives the right to consent to their own care (e.g., married minors, minors who are parents or pregnant, and minors in the military).
</p>
   <p>
For minors 16 or 17 years of age, such consent should be provided either in person or by phone, at the time of vaccine appointment. Providers may elect whether to accept a written statement of consent from the parent or guardian, where the parent or guardian is not available by phone to provide consent to vaccinate an unaccompanied minor. The written statement must include the minor's name and date of birth, and the parent or guardian's name, phone number, and signature.
       For more information on which vaccination sites accept written consent, please call. <!-- 877-VAX-4NYC or 877-829-4692. -->
</p><p>
For minors 6 months through 15 years of age, additionally, an adult caregiver should accompany the minor. If the adult caregiver is not the parent or guardian, the adult caregiver should be designated by the parent or guardian. The parent or guardian must still provide consent to the vaccination.
</p>

<div>
  <b> Health Considerations Before You Schedule Your Appointment</b></div>

<p>If you are feeling sick today, please schedule for at least 10 days after you began feeling sick.</p>

<p>In the last 10 days, if you have had a positive COVID-19 test or have been told by a healthcare provider or health department to isolate or quarantine due to COVID-19 infection or exposure, you must schedule your Appointment for a date after your isolation or quarantine ends.
</p>
<p>If you have been treated with antibody therapy for COVID-19 in the past 90 days (3 months), you must schedule your Appointment for at least 90 days after the last dose of antibody therapy.
</p>
<p>If you are pregnant or considering becoming pregnant, consider discussing with your healthcare provider. You may still schedule an Appointment and get vaccinated if you choose.
</p>
<p>If you have cancer, leukemia, HIV/AIDS, a history of autoimmune disease or any other condition that weakens the immune system, you may have a less strong immune response to the vaccine but may still get vaccinated if you choose.
</p>
<p>If you take any medications that affect your immune system, such as cortisone, prednisone or other steroids, anticancer drugs, or have had any radiation treatments, you may have a less strong immune response to the vaccine but may still get vaccinated if you choose.
</p>
<p>If you have ever had a serious or life-threatening allergic reaction, such as hives or difficulty breathing, to any vaccine or shot, you may still be vaccinated if you choose. Inform the vaccinator and remain in the POD waiting area for 30 minutes after you are vaccinated.
</p>

            </div>

            <button class="btn-font btn-lg-padding border-0 btn-primary btn-top-margin button-on-hover"  style="line-height: normal; min-width: 96px" type="submit" id="btnSubmit">
                <span class="align-middle" data-i18n="somos-submit">Submit</span>
            </button>
        </form>
        <!-- End Login Form -->
        <!-- Login -->

    </div>
        <!-- Login -->
    <script type="text/javascript">

        function fmVaccineQualificationOnSubmit() {

            if (document.getElementById('cityemp1').checked === false) {
                alert("We apologize, but we are unable to process your request at this time. This website is currently for people eligible for the vaccine. Please check back at a later time.");
                return false;
            }
            else {
                $('#mainForm2').hide();
                $("html, body").animate({ scrollTop: 0 });
                $('#mainForm3').show();
            }

            return false;
            let fmdata = $('#fmEditor').serialize();
            console.log(fmdata)
            let url = '/p/covid/?action=saveQuestionnaire';
            $.post(url, fmdata, function (res) {
                if (res.ResultCode == 0) {
                    window.location.href = '/p/sites/?qid=' + res.qid;
                } else {
                    alert(res.Error);
                }
            }, 'json');
        }




    </script>


</main>
<!-- End Content -->

