{% load static %}


<style type="text/css">

.button-on-hover:hover {background: #253BCC;opacity: 0.8;}
.no-bottom-margin {margin-bottom: 0px;}

/* style for question option */
.radio-box {display:inline;font-weight: 900;color: #253bcc;}
.radio-box input{display: none;}
.radio-box label{width: 75px;height: 42px;background: #ffffff;border: 2px solid #253bcc;cursor: pointer;}
.radio-box input:checked + label{width: 75px;height: 42px;background: #253bcc;color: #ffffff;}


/* style for question div */
.div-question {margin-top: 32px;}
.list-bullets-q0b {list-style-type: none;}
.list-bullets-q0b li::before {content: "\25CF";color: #253BCC;font-weight: bold;display: inline-block;width: 1.0em;margin-left: -1.6em;}
.p-secd-font-color {color: #253BCC}
.p-prim-font-margin {margin-bottom: 24px;}
.btn-top-margin {margin-top: 32px;}

/* Styles for covid_screening.html*/
.final-box label{width: 252px;height: 42px;opacity: 1;background: #ffffff;border: 2px solid #253bcc;}
.final-box input:checked + label{width: 252px;height: 42px;opacity: 1;background: #253bcc;color: #ffffff;}

main {margin-left: 54px;margin-right: 60px;}
.consent-title {text-align: LEFT;color: #000000;}
.consent-detail {text-align: left;color: #000000;line-height: 28px;margin-top: 17px;margin-bottom: 24px;}
.div-FDA {background: #e3e6f8;margin-bottom: 40px;text-align: left;color: #000000;line-height: 28px;background: #e3e6f8;}

@media only screen and (min-width: 576px) {
    .radio-box-right-margin {margin-right: 48px;}
    .div-FDA {padding: 32px 56px 28px 56px;}
 }

@media only screen and (max-width: 575px) {
    .radio-box-right-margin {margin-right: 14px;}
    .div-FDA {padding: 32px 32px 28px 32px;}
 }
</style>

<main id="mainForm2" style="display: none" class="g-mx-55--xl g-mx-55--lg g-mx-55--md g-mx-25--sm g-mx-25">
    <div class="g-my-55">
        <div class="q-heading">
            <h3 class="h2-font">
                <span data-i18n_="covid-screening-title">Eligibility</span>
                <span style="font-size: 14px!important;">Children Under 5</span>
            </h3>
            <h5 class="p-secd-font p-secd-font-color" >* All questions are required</h5>
        </div>
        <!-- Login Form -->
        <form class="g-mb-30" method="post" id="fmEditor">
            {% csrf_token %}
            <input type="hidden" name="SiteMode" value="{{ SiteMode }}" />
            <input type="hidden" name="TestingFor" value="First Dose" id="hdDoseType"/>

            <div class="div-question">
                <h3 class="p-prim-font no-bottom-margin"><span {# data-i18n="covid-vaccine-qualification-ii" #}>
                    All children under 5 that reside in the United States are eligible to be vaccinated.
                    Do you currently meet the current criteria to receive a vaccine? <i class="fa fa-fw fa-asterisk text-danger"></i>
                    </span></h3>
                <h4 class="p-secd-font p-secd-font-color p-prim-font-margin">
                    <span>Answer must be yes to make an appointment</span>
                </h4>

                <div class="radio-box btn-font text-center">
                    <input type="radio" name="q0b"
                           data-eligible_check_yes="1" value="Yes" id="cityemp1">
                        <label for="cityemp1" class="radio-box-right-margin">
                            <span class="align-middle" data-i18n="somos-yes">Yes</span>
                        </label>

                    <input type="radio" name="q0b"
                           data-eligible_check_no="1" value="No" id="cityemp0">
                        <label for="cityemp0">
                            <span class="align-middle" data-i18n="somos-no">No</span>
                        </label>
                </div>

            </div>


            <button class="btn-font btn-lg-padding border-0 btn-primary btn-top-margin button-on-hover"
            style="line-height: normal; min-width: 96px" type="submit">
                <span class="align-middle">Next</span>
            </button>
        </form>
        <!-- End Login Form -->
    </div>


    <!-- Login -->
    <script type="text/javascript">



        function fmVaccineQualificationOnSubmit() {

            if (document.getElementById('cityemp1').checked === false) {
                alert("We apologize, but we are unable to process your request at this time. This website is currently for people eligible for the vaccine. Please check back at a later time.");
                return false;
            } else {
                $('#mainForm2').hide();
                $("html, body").animate({ scrollTop: 0 });
                $('#mainForm3').show();
            }

            return false;
        }


    </script>

</main>
<!-- End Content -->