{% extends '../../shared/navigation.html' %}
{% load static %}

{% block css %}
    <title>Children Under 5 Vaccination | SOMOS</title>
    <style type="text/css">
        .vaccine-name{font-weight: bolder; color: red}
    </style>
{% endblock %}


{% block body %}
    <main id="mainForm1">
    <!-- Listing - Carousel Image -->
      <div class="g-pos-rel">

          <!-- Breadcrumbs -->
          <div class="container g-pt-50 g-pb-80">
            <h1 class="h2 mb-0">Children Under 5 Vaccination</h1>
          </div>
      </div>



        <div style="display: flex; flex-direction: row; flex-wrap: wrap;justify-content: center; align-items: center" class="h2 mb-0 vaccine-name">
            Pfizer-BioNTech </div>
        <div><br/><br/></div>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap;justify-content: center; align-items: center">


             <div >
                 <a class="btn-doh-5" href="#" onclick="return doseSelected('Pfizer', 1)">Schedule First Dose</a>
             </div>
            <div style="margin-left: 20px">
                 <a class="btn-doh-5" href="#" onclick="return doseSelected('Pfizer', 2)">Schedule Second Dose</a>
             </div>
            <div  style="margin-left: 20px">
                 <a class="btn-doh-5" href="#" onclick="return doseSelected('Pfizer', 3)">Schedule Third Dose</a>
             </div>
        </div>


<div><br/><br/><br/><br/><br/></div>


        <div style="display: flex; flex-direction: row; flex-wrap: wrap;justify-content: center; align-items: center" class="h2 mb-0 vaccine-name">
            Moderna </div>
        <div><br/><br/></div>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap;justify-content: center; align-items: center">


             <div >
                 <a class="btn-doh-5" href="#" onclick="return doseSelected('Moderna', 1)">Schedule First Dose</a>
             </div>
            <div style="margin-left: 20px">
                 <a class="btn-doh-5" href="#" onclick="return doseSelected('Moderna', 2)">Schedule Second Dose</a>
             </div>

        </div>
    </main>

        <!--Eligibility First Dose-->
        <div>
            {% include './covid_children_dose1_eligibility.html' %}
            {% include './covid_children_dose2_eligibility.html' %}
            {% include './covid_children_dose3_eligibility.html' %}

            {% include './covid_children_screening.html' %}
        </div>



    <script type="text/javascript">
        var g_mfc = '';
        function doseSelected(mfc, dose){
            g_mfc = mfc;
            let url = "./?action=saveQuestionnaire";
            let testingfor = '';
            if (dose == 1) testingfor = 'First Dose';
            if (dose == 2) testingfor = 'Second Dose';
            if (dose == 3) testingfor = 'Third Dose';

            $('#mainForm1').hide();
            if(dose == 1){
                $('#mainForm2').show();
            }else if (dose == 2){
                $('#mainFormDose2').show();
            }else if(dose == 3){
                $('#mainFormDose3').show();
            }
            return;

            $.post(url, {'TestingFor': testingfor, 'q18': mfc, 'q19': 'ChildrenUnder5'}, function (obj){
                let qid = obj.qid;
                window.location.href= "/p/sites/?qid=" + qid;
            });
            return false;
        }

    </script>

{% endblock %}

{% block js %}
   <script>
        /*global $*/
        $(document).on('ready', function () {
            $.HSCore.components.HSDatepicker.init('#q4_date, #q6_date', {dateFormat: 'mm/dd/yy'});
        });
   </script>

    <script>
        $('#fmEditor').submit(function () {
            fmVaccineQualificationOnSubmit();
            return false;
        })

        $('#fmEditorDose2').submit(function () {
            fmEditorDose2OnSubmit();
            return false;
        })

        $('#fmEditorDose3').submit(function () {
            fmEditorDose3OnSubmit();
            return false;
        })


        $('#fmEditor2').submit(function () {
            let fmdata = $('#fmEditor').serialize() +'&'+ $('#fmEditor2').serialize()
                +'&'+ $('#fmEditorDose2').serialize()
                +'&'+ $('#fmEditorDose3').serialize();
            fmdata += '&q18=' + g_mfc +"&q19=ChildrenUnder5";

            if(document.getElementById('q2_yes').checked){
                alert("At this time, you are not eligible to receive the COVID-19 vaccine.");
                return false;
            }
            if(!document.getElementById('q2_no').checked){
                alert("Please finish 'Health Screening and Attestation' to continue to make your appointment.");
                return false;
            }

            //q13_yes I request the vaccine , q13_no I decline the vaccine
            if(document.getElementById('q15_no').checked){
                alert("You declined the vaccine. Please come back to this website when you change your mind.");
                return false;
            }
            if(!document.getElementById('q15_yes').checked){
                alert("We need your consent, select 'I request the vaccine' to continue to make your appointment.");
                return false;
            }

            // we may add other validation later
            console.log(fmdata)

            //let url = '/p/covid/?action=saveQuestionnaire';
            let url = './?action=saveQuestionnaire';
            $.post(url, fmdata, function (res) {
                if (res.ResultCode == 0) {
                    window.location.href = '/p/sites/?qid=' + res.qid  + {% if i18n %}'&i18n={{ i18n }}'{% else %}''{% endif %};
                } else {
                    alert(res.Error);
                }
            }, 'json');
            return false;
        })

    </script>
{% endblock %}