
    <style type="text/css">
        .nyc-stepper {position: fixed;display: -ms-grid;display: grid;-ms-grid-columns: 1fr;grid-template-columns: 1fr;row-gap: 2rem;margin-top: 4rem;}
        .nyc-stepper:focus {outline: none;}
        .nyc-stepper .nyc-stepper-item {
          outline: none;-webkit-box-shadow: none;box-shadow: none;
          border: none;text-decoration: none;padding: 8px;cursor: pointer;
          -webkit-transition: ease-in-out;transition: ease-in-out;display: -ms-grid;display: grid;width: 12px;height: 12px;margin: 0 0.09em;border-radius: 50%;
          position: relative;border: 1px solid #cecece;font-size: 1rem;cursor: default;
        }
        @media (max-width: 359px) {  .nyc-stepper .nyc-stepper-item {padding: 2px;}  }
        .nyc-stepper .nyc-stepper-item:focus, .nyc-stepper .nyc-stepper-item*:focus {outline: none;}
        .nyc-stepper .nyc-stepper-item.nyc-stepper-item-completed {background: #7eb0d7;border-color: #7eb0d7;color: #7eb0d7;}
        .nyc-stepper .nyc-stepper-item.nyc-active {background: #1871b7;color: #1871b7;border-color: #1871b7;}
        .nyc-stepper .nyc-stepper-item.nyc-stepper-item-pending {color: #757575;background: #ffffff;}
        .nyc-stepper .nyc-stepper-item .nyc-stepper-item-content {position: absolute;top: 0;left: 2rem;width: auto;max-width: 215px;min-width: 215px;word-break: break-word;}
        .nyc-stepper .nyc-stepper-item::after {content: "";display: block;position: absolute;
          height: 3.5rem;left: 50%;top: 50%;border-left: 2px dotted #e2dfda;-webkit-transform: translate(-50%, 0%);transform: translate(-50%, 0%);z-index: -1;}
        .nyc-stepper .nyc-stepper-item:last-child::after {border-left: none;}

        @media (max-width: 1023px) {
          .nyc-stepper {display: -webkit-box;display: -ms-flexbox;display: flex;position: absolute;top: 2.25rem;right: 1.5rem;z-index: 9;margin-top: 0;}
          .nyc-stepper .nyc-stepper-item {display: -ms-grid;display: grid;width: 8px;height: 8px;padding: 4px;margin: 0 0.09em;}
        }
        @media (max-width: 1023px) and (max-width: 359px) {  .nyc-stepper .nyc-stepper-item {padding: 2px;}  }
        @media (max-width: 1023px) {
          .nyc-stepper .nyc-stepper-item .nyc-stepper-item-content {display: none;}
          .nyc-stepper .nyc-stepper-item::after {display: none;}
        }
        @media (max-width: 1023px) and (max-width: 359px) {  .nyc-stepper {right: 0.5rem;}  }
        @media (max-width: 767px) {  .nyc-stepper {top: 1rem;right: 1rem;}  }
        @media (min-width: 767px) and (max-width: 1023px) {  .nyc-stepper {top: 6.75rem;}  }
    </style>


        <h2 class="h2-font mb-2 g-color-white2 g-font-weight-600">Appointment Search</h2>
          <div  class="req_representation" style="margin-bottom: 20px"><span class="g-color-red">*</span> indicates a required field</div>


<div>Help us find the Appointment you are trying to {{search_for|default:''}}.</div>

<div>
It is important that you enter the information below exactly as it was entered when you created the appointment.
</div>
<div style="margin-left: 30px">
    <form id="fmSearchApt">
<table cellspacing="5">
    <tr>
        <td><span class="g-color-red">*</span> First Name<br/>
            <input type="text" name="FirstName" note="First Name"/>
        </td>
        <td><span class="g-color-red">*</span> Last Name<br/>
            <input type="text" name="LastName" note="Last Name"/>
        </td>
    </tr>

     <tr>
        <td><span class="g-color-red">*</span> Date of Birth<br/>
            <input type="date" name="DOB" note="Date of Birth"/>
        </td>
        <td><span class="g-color-red">*</span> Home ZIP Code<br/>
            <input type="text" name="Zipcode" note="Home ZIP Code"/>
        </td>
    </tr>
    </table>


    <table>
        <tr>
            <td colspan="2">
                <span class="g-color-red">*</span> Appointment Number

                <div>You can find your Appointment Number in the confirmation email you received for the Appointment you are trying to {{search_for|default:''}}.</div>
                <div>
                    <input type="text" name="AptNumber" note="Appointment Number" id="AptNumber"/>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: right">
                <input type="button" class="Gotham-black g-font-size-15 btn u-btn-primary g-color-white g-bg-primary-dark-v1--hover rounded-0 g-px-18 g-py-10"
                       value="Submit" onclick="searchAppointmentClicked()">
            </td>
        </tr>

    </table>
</form>
    </div>

<script type="text/javascript">
    function searchAppointmentClicked(){
        let txtList = $('#fmSearchApt input');
        for(let i=0; i<txtList.length;i++){
            let txt = $(txtList[i]);
            if(txt.val() == ''){
                alert(txt.attr('note') +' is required. ');
                txt.focus();
                return;
            }
        }

        let fmdata = $('#fmSearchApt').serialize();
        $.post('/p/cancel-appointment/?action=searchApt&searchFor={{search_for|default:''}}', fmdata, function (res){
            //No record found
            if(res.AptID == -1){
                MG.Global.AlertMessage(res.Message, 'Error');
            }else{
                aptSearchCallback(res)
            }
        }, 'json');
    }

</script>