﻿{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>{% if CLINIC_ID == 3552 %}RenDr Care Physicians{% else %}SOMOS{% endif %} COVID Vaccination</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/p/static/images/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans:400,500,600" rel="stylesheet">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'vendor/icon-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/icon-line/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/icon-line-pro/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/icon-hs/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/animate.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/hs-megamenu/src/hs.megamenu.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/chosen/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fancybox/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui/themes/base/jquery-ui.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/font-family.css' %}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <style>
        .navbar-brand > img {
            max-height: 62px;
        }

        .navbar .nav-item.active {
            background-color: #ae2c35 !important;
        }

        .navbar {
            text-align: center;
        }

        footer img.poweredby {
            max-height: 20px;
        }

        .bg-corona-web {
            background: url({% static 'images/mainpic_desktop.png' %}) no-repeat center;
            background-color: rgba(0, 0, 0, 0.6);
            /* background-blend-mode: darken; */
            height: 486px;
            background-size: cover;
        }

        .bg-corona-mob {
            background: url({% static 'images/mainpic_mobile.png' %}) no-repeat center;
            background-color: rgba(0, 0, 0, 0.6);
            /* background-blend-mode: darken; */
            height: 410px;
            background-size: cover;
        }

        i.fa-asterisk {
            vertical-align: super;
            font-size: xx-small;
        }

        .down_app_qrcode {
            display: block
        }

        .down_app_button {
            display: none
        }

        .mobile .down_app_qrcode {
            display: none
        }

        .mobile .down_app_button {
            display: block
        }

        .pc .down_app_qrcode {
            display: block
        }

        .pc .down_app_button {
            display: none
        }

        .footer-bg-color {
            background-color: #EB0028;
        }

        /* #lang-list-mob{
            border-style: solid;
            border-width: 1px;
        } */

        .lang-list-web-item {
            list-style-type: none;
            width: 150px;
            height: 32px;
            background-color: white !important;
            font-size: 150%;
        }

        .lang-list-web-item.active a {
            color: #253BCC !important;
            font-weight: 700;
            /* background-color: green !important; */
        }

        .lang-list-mob-item {
            list-style-type: none;
            height: 30px;
            background-color: white !important;
        }

        .lang-list-mob-item a {
            color: black;
        }

        .lang-list-mob-item.active {
            /* color: #253BCC !important; */
            /* font-weight: 700; */
            background-color: green !important;
        }

        .lang-list-mob-item.active a {
            color: #253BCC !important;
            font-weight: 700;
            /* background-color: green !important; */
        }

        #signin-list-mob {
            background-color: #e3e6f8 !important;

        }

        .signin-mob-item {
            background-color: #e3e6f8 !important;
        }

        #logout-list-mob {
            background-color: #e3e6f8 !important;
        }

        .signin-mob-item:first-child {
            border-bottom: 1px solid #253BCC;
            border-top: none;
            border-right: none;
            border-left: none;
        }

        .select-bg-red::selection {
            background-color: #EB0028 !important;
        }

        main {
            margin-top: 0 !important;
        }

        .contact-list {
            list-style-type: none;
        }

        .launch-hide {
            display: none;
        }

        .button-on-hover:hover {
            background-color: #253BCC;
            opacity: 0.8;
        }

        .language-hover:hover {
            background-color: #253BCC !important;
        }

        .language-text-hover:hover a {
            color: white !important;
        }

        /* The sticky class is added to the header with JS when it reaches its scroll position */
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: inherit;
            z-index: 999;
        }

        /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
        .sticky + .content {
            padding-top: 102px;
        }

        ul.dropdown-menu li {
            font-weight: bold !important;
            font-size: larger !important;
            color: #253BCC !important;
            text-transform: uppercase;
        }

        ul.dropdown-menu li.selected.active {
            color: white !important;
            background-color: #253BCC !important;
        }

        {# NYC DOH CHANGES #}
        .btn-primary, .u-btn-primary {
            border-radius: 2px !important;
            background-color: #007AC2 !important;
            text-transform: uppercase;
            {#min-width: 88px !important;#}
            {#font-size: larger !important;#}
            {#border-color: #007AC2 !important;#}
            {#padding: 0.8rem 1rem !important;#}
        }

        .btn-doh {
            border-radius: 50px;
            border: 2px solid #007AC2;
            padding: 0.8rem 4.5rem 1rem 4.5rem !important;
            font-size: larger;
            font-weight: bold;
            text-decoration: none !important;
            white-space: nowrap !important;
            display: inline-block;
            width: 100% !important;
        }

        .btn-doh:hover {
            background-color: #007AC2 !important;
            color: white !important;
        }

        .doh-navbar {
            box-shadow: 2px 5px 12px 0 rgba(0, 122, 194, 0.2);
        }

        body {
            font-family: "Helvetica", sans-serif !important;
        }

        footer {
            font-weight: lighter;
            color: darkgray;
            line-height: 3rem;
            text-align: center;
        }

        .radio-box label {
            border: 2px solid #007AC2 !important;
            border-radius: 2px;
        }

        .radio-box input:checked + label {
            background: #007AC2 !important;
        }

        .radio-box {
            color: #007AC2 !important;

        }

        .btn-doh-5 {
            border-radius: 10px;
            border: 3px solid #007AC2;
            padding: 0.8rem 4.5rem 1rem 4.5rem !important;
            font-size: larger;
            font-weight: bold;
            text-decoration: none !important;
            white-space: nowrap !important;
            display: inline-block;
            width: 100% !important;
        }

        .btn-doh-5:hover {
            background-color: #007AC2 !important;
            color: white !important;
        }

    </style>
    {% block css %}
    {% endblock %}

    <!-- CSS Unify Theme -->
    <link rel="stylesheet" href="{% static 'unify/css/styles.multipage-real-estate.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body>

<!-- Header -->
<!-- <header id="js-header" class="u-header u-header--toggle-section u-header--change-appearance"> -->
<header id="js-header" style="background-color: #007AC2" class="doh-navbar">
    <div class="u-header__section g-transition-0_5">
        <!-- Topbar -->
        <div class="container">
            <div
                    class="container-fluid g-py-16">
                <div class="row align-items-center">
                    <div class="col-5 col-md-3">
                        <!-- Logo -->
                        <a class="align-items-center g-color-main text-uppercase g-text-underline--none--hover float-left mx-3 d-none d-xs-none d-sm-none d-md-block"
                           href="{% url 's1_landing_view' %}">
                            {% if CLINIC_ID != 3552 %}
                                <img src="/p/static/images/somos_logo_wht.png" class="g-height-50"
                                     style="margin-left:-18px">
                                <!-- <img src="/p/static/images/somos-emblem.png" class="d-block d-sm-none" alt="SOMOS"> -->
                            {% else %}
                                <img src="/p/static/images/mso-rendr.png" class="">
                            {% endif %}
                        </a>
                        <a class="navbar-brand d-flex align-items-center g-color-main text-uppercase g-text-underline--none--hover float-left mx-3 d-md-none"
                           href="{% url 's1_landing_view' %}">
                            {% if CLINIC_ID != 3552 %}
                                <img src="/p/static/images/somos_logo_wht.png" class="g-height-35 ba"
                                     style="margin-left:-18px">
                                <!-- <img src="/p/static/images/somos-emblem.png" class="d-block d-sm-none" alt="SOMOS"> -->
                            {% else %}
                                <img src="/p/static/images/mso-rendr.png" class="">
                            {% endif %}
                        </a>
                        <!-- End Logo -->
                    </div>


                    <div class="col-7 col-md-9 ml-auto">
                        <!-- List -->

                        <div class="list-inline float-right mb-0">
                            <!-- {# <li class="list-inline-item d-print-none">#}
                                    {# <a
                                        class="u-link-v5 g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-500 g-px-15 g-py-10"
                                        #} {# href="https://bd.mdland.com"><i class="fa fa-fw fa-user-md"></i>
                                        <span#} {# data-i18n="somos-front-line">Frontline Staff</span>
                                    </a>#}
                                    {# </li>#} -->
                            <!-- steve said add them now, 1/13/2021 -->

                            <div class="list-inline-item d-print-none g-z-index-9999 position-relative mr-0">
                                <div style="display: flex; flex-wrap: nowrap">
                                    <div style="font-size: x-large; color: white;"><i class="fa fa-fw fa-language"></i>
                                        &nbsp;
                                    </div>
                                    <select onchange="window.location.href='/p/covid/?i18n=' +$(this).val()">
                                        <option value="" > English</option>
                                        <option value="es" {% if i18n == 'es' %} selected {% endif %}> Spanish</option>
                                        {#                                        <option class="lang-pick" value="es">#}
                                        {#                                            Espanol#}
                                        {#                                        </option>#}
                                        {#                                        <option class="lang-pick" value="cn">#}
                                        {#                                            中文#}
                                        {#                                        </option>#}
                                    </select>
                                </div>
                                {#                                <a class="Gotham-black u-link-v5 g-color-white g-bg-primary g-bg-primary-dark-v1--hover g-font-weight-500 btn-lang-padding d-none d-sm-block button-on-hover"#}
                                {#                                   id="lang-toggle-web" href="#">Eng</a>#}
                                {#                                <ul class="Gotham-book position-absolute pl-0 mb-0 mt-1 launch-hide"#}
                                {#                                    id="lang-list-web">#}
                                {#                                    <li class="language-text-hover language-hover nav-ln lang-list-web-item#}
                                {#                                             active ">#}
                                {#                                        <a id="en" class="{# active " href="#"#}
                                {#                                           style="color:black; text-decoration: none;">#}
                                {#                                            ENGLISH#}
                                {#                                        </a>#}
                                {#                                    </li>#}
                                {#                                    {% if CLINIC_ID != 3552 %}#}
                                {#                                        <li class="language-text-hover language-hover lang-pick nav-ln lang-list-web-item">#}
                                {#                                            <a id="es" class="" href="#" style="color:black; text-decoration: none;">#}
                                {#                                                ESPANOL#}
                                {#                                            </a>#}
                                {#                                        </li>#}
                                {#                                        <li class="language-text-hover language-hover lang-pick nav-ln lang-list-web-item">#}
                                {#                                            <a id="cn" class="" href="#" style="color:black; text-decoration: none;">#}
                                {#                                                中文#}
                                {#                                            </a>#}
                                {#                                        </li>#}
                                {#                                    {% endif %}#}
                                {#                                </ul>#}
                                {#                                    <a class="Gotham-black u-link-v5 g-color-white g-bg-primary g-bg-primary-dark-v1--hover g-font-weight-500 btn-lang-padding d-sm-none mr-0 button-on-hover"#}
                                {#                                        id="lang-toggle-mob" href="#">Eng</a>#}

                            </div>
                            {#                                {% if request.session.patientid > 0 %}#}
                            {#                                <li class="list-inline-item d-print-none mr-0">#}
                            {#                                    <a class="Gotham-black g-font-size-14 btn-signin-padding u-link-v5 g-color-primary bg-white d-none d-sm-block button-on-hover"#}
                            {#                                        href="{% url 's_logout' %}"><span#}
                            {#                                            data-i18n="somos-my-logout">Logout</span></a>#}
                            {#                                </li>#}
                            {#                                <li class="list-inline-item d-print-none">#}
                            {#                                    <a class="Gotham-black g-font-size-15 btn-signin-padding u-link-v5 g-color-white g-bg-primary d-sm-none button-on-hover"#}
                            {#                                    id="logout-button-mob" href="#"><span#}
                            {#                                            data-i18n="somos-my-logout">Logout</span></a>#}
                            {#                                </li>#}
                            {#                                <li class="list-inline-item d-print-none">#}
                            {#                                    <a class="Gotham-black g-font-size-14 btn-signin-padding u-link-v5 g-color-white g-bg-primary d-none d-sm-block button-on-hover"#}
                            {#                                        href="{% url 's7_results' %}"></i><span#}
                            {#                                            data-i18n="somos-my-results">Returning Users</span></a>#}
                            {#                                </li>#}
                            {##}
                            {#                                {% else %}#}
                            {#                                <li class="list-inline-item d-print-none mr-0">#}
                            {#                                    <a class="Gotham-black g-font-size-14 btn-signin-padding u-link-v5 g-color-primary bg-white d-none d-sm-block button-on-hover"#}
                            {#                                        href="{% url 's_login' %}"><span data-i18n="somos-my-login">Sign in</span>#}
                            {#                                    </a>#}
                            {#                                </li>#}
                            {#                                <li class="list-inline-item d-print-none">#}
                            {#                                    <a class="Gotham-black g-font-size-15 btn-signin-padding u-link-v5 g-color-white g-bg-primary d-sm-none button-on-hover"#}
                            {#                                        id="signin-button-mob" href="#"><span data-i18n="somos-my-login">Sign in</span>#}
                            {#                                    </a>#}
                            {#                                </li>#}
                            {#                                <li class="list-inline-item d-print-none g-brd-primary">#}
                            {#                                    <a class="Gotham-black g-font-size-14 btn-signin-padding u-link-v5 g-color-white g-bg-primary d-none d-sm-block button-on-hover"#}
                            {#                                        href="{% url 's_signup' %}">Create an Account#}
                            {#                                    </a>#}
                            {#                                </li>#}
                            {##}
                            {#                                {% endif %}#}

                        </div>

                        <!-- End List -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->

    </div>


</header>
<!-- End Header -->



{% block body %}
{% endblock %}

<!-- Footer -->
{#    <footer class="mx-0 d-print-none" style="padding-top:15px">#}
{#        <div class="row footer-bg-color px-5 py-5 mx-0">#}
{#            <div class="col-md-6 text-md-left g-mb-30">#}
{#                <a class="navbar-brand mb-3 d-flex align-items-center g-color-main text-uppercase g-text-underline--none--hover"#}
{#                    href="{% url 's1_landing_view' %}">#}
{#                    <img src="/p/static/images/SOMOS-Logo_White@2x.png" class="g-width-120 bg-gradient-primary"#}
{#                        alt="SOMOS">#}
{#                </a>#}
{##}
{#                <p class="p-prim-font text-white">2910 Exterior Street Bronx, NY 10463#}
{#                </p>#}
{#                <h3 class="Gotham-bold g-font-size-25 text-white">Phone</h3>#}
{#                <p class="p-prim-font text-white">1.833.SOMOSNY</p>#}
{##}
{#                <!--social-->#}
{#                <div>#}
{#                    <!-- {% if CLINIC_ID != 3552 %} -->#}
{#                    <a class="select-bg-red pr-2" href="https://www.facebook.com/SOMOSCommunityCare/">#}
{#                        <img src="/p/static/images/icon_facebook@2x.png" class="select-bg-red g-height-26"#}
{#                            alt="Facebook">#}
{#                    </a>#}
{#                    <a class="select-bg-red px-2" href="https://twitter.com/SOMOSCare?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">#}
{#                        <img src="/p/static/images/icon_twiter@2x.png" class=" g-height-26" alt="Twitter">#}
{#                    </a>#}
{#                    <a class="select-bg-red px-2" href="https://www.instagram.com/somoscare/?hl=en">#}
{#                        <img src="/p/static/images/icon_instagram@2x.png" class=" g-height-26" alt="Instagram">#}
{#                    </a>#}
{#                    <a class="select-bg-red px-2"#}
{#                        href="https://www.youtube.com/channel/UCUrnRjEHj5UrNvxU0jHSzQQ/featured">#}
{#                        <img src="/p/static/images/icon_youtube@2x.png" class=" g-height-26" alt="Youtube">#}
{#                    </a>#}
{#                    <a class="select-bg-red px-2"#}
{#                        href="https://www.linkedin.com/company/somoscommunitycare">#}
{#                        <img src="/p/static/images/icon_linkedin@2x.png" class=" g-height-26" alt="Linkedin">#}
{#                    </a>#}
{#                    <!-- <a class="u-icon-v2 g-width-35 g-height-35 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover g-font-size-13"#}
{#                        href="https://www.facebook.com/SOMOSCommunityCare/">#}
{#                        <i class="fa fa-facebook"></i>#}
{#                        {% else %}#}
{#                        <a class="u-icon-v2 g-width-35 g-height-35 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover g-font-size-13"#}
{#                            href="https://www.facebook.com/rendrcare/">#}
{#                            <i class="fa fa-facebook"></i>#}
{#                            {% endif %}#}
{#                        </a> -->#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-md-3 g-mb-30">#}
{##}
{#                <!-- Footer - List -->#}
{#                <p class="Gotham-bold g-font-size-25 text-white" >Contact</p>#}
{##}
{#                <ul class="mb-2 contact-list pl-0" style="margin-left: -10px">#}
{#                    {% if CLINIC_ID != 3552 %}#}
{#                    <li><a class="btn p-prim-font u-link-v5 text-white"#}
{#                            href="mailto:communications@somoscommunitycare.org">Email</a></li>#}
{#                    <li class=""><a class="btn p-prim-font u-link-v5 text-white" href="tel:833-766-6769">Call</a></li>#}
{##}
{#                    </li>#}
{#                    {% else %}#}
{#                    <li class="list-inline-item mx-3"><a#}
{#                            class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"#}
{#                            href="https://www.rendrcare.com/about/">About</a></li>#}
{#                    <li class="list-inline-item mx-3"><a#}
{#                            class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"#}
{#                            href="https://www.rendrcare.com/doctors/">Providers</a></li>#}
{#                    <li class="list-inline-item mx-3"><a#}
{#                            class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"#}
{#                            href="https://www.rendrcare.com/blog/">News</a></li>#}
{#                    <li class="list-inline-item mx-3"><a#}
{#                            class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"#}
{#                            href="https://www.rendrcare.com/careers/">Careers</a></li>#}
{#                    <li class="list-inline-item mx-3"><a#}
{#                            class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"#}
{#                            href="https://www.rendrcare.com/contact/">Contact</a></li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#                <!-- End Footer - List -->#}
{##}
{##}
{#                <!--end social-->#}
{#                <!-- Go to Top -->#}
{#                <!--<a class="js-go-to u-go-to-v3 g-width-40 g-height-40 g-color-primary" href="#"-->#}
{#                <!--   data-offset-top="400"-->#}
{#                <!--   data-compensation="#js-header"-->#}
{#                <!--   data-show-effect="zoomIn">-->#}
{#                <!--  <i class="g-brd-gray-light-v3 g-brd-primary--hover rounded-0 fa fa-long-arrow-up"></i>-->#}
{#                <!--</a>-->#}
{#                <!-- End Go to Top -->#}
{#            </div>#}
{##}
{#            <div class="col-md-3 g-mb-30">#}
{#                <h3 class="Gotham-bold g-font-size-25 text-white mb-3" data-i18n="somos-powered-by">Proudly#}
{#                    Powered#}
{#                    By:</h3>#}
{##}
{#                <a href="https://mdland.com"><img class="poweredby"#}
{#                        src="https://mdland-website.s3.amazonaws.com/img/logo.png"></a>#}
{##}
{#                <h3 class="Gotham-bold g-font-size-25 text-white mt-3">Download Mobile App</h3>#}
{#                <div>#}
{##}
{#                    <a class="select-bg-red px-2" href="https://apps.apple.com/us/app/viphealth/id1265405734">#}
{#                        <img src="/p/static/images/icon_apple.png" class=" g-height-26" alt="Apple">#}
{#                    </a>#}
{##}
{#                    <a class="select-bg-red px-2"#}
{#                        href="https://play.google.com/store/apps/details?id=com.react_viphealth&hl=en_US">#}
{#                        <img src="/p/static/images/icon_android.png" class=" g-height-26" alt="Android">#}
{#                    </a>#}
{##}
{#                    <a class="select-bg-red px-2" href='javascript:void(0);' data-toggle="modal"#}
{#                        data-target="#mg_modal_appdown_top">#}
{#                        <img src="/p/static/images/icon_qr.png" class=" g-height-26" alt="QR Code">#}
{#                    </a>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </footer>#}
<footer>
    <hr>
    <div>To schedule an appointment by phone please call <a
            href="tel:18337666769">1-833-SOMOSNY</a></div>
    {#    <div>If you need support redeeming your cash incentive, call <a href="tel:+1855-449-2273">#}
    {#        855-449-2273</a>#}
    {#    </div>#}
    {#    <div>If you need technical assistance when using this portal, please <a href="/patient/s/contact-us">contact#}
    {#        us</a></div>#}
    <div>If you need assistance when using this portal, please <a
            href="mailto:support@mdland.com"
            target="_blank">contact us</a>
    </div>
    <div>
        {% if not request.GET.i18n or request.GET.i18n == "en" %}
        <a href="{{ request.get_full_path}}?i18n=es">Spanish</a>
        {% endif %}
    <br>
</footer>
<!-- End Footer -->

<!-- Error Modal -->
<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLongTitle">
                    <i class="fa fa-warning fa-fw text-muted"></i>
                    <span class="modal-title" data-i18n="somos-error">Error</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="modal-message"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-i18n="somos-close">Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Error Modal -->

<!-- Download VIPHEALTH Modal for the top button  -->
<div class="modal fade" id="mg_modal_appdown_top" tabindex="-1" role="dialog" aria-labelledby="appdownModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius:0px">
            <div class="modal-header Gotham-black" style="border-bottom: 0 none">
                <h5 class="modal-title" id="appdownModalLabel">Download VIPHEALTH App</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="font-size:150%" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body Gotham-book">
                Please download VIPHealth to manage your COVID-19 vaccination appointment or schedule a new one.
                <br><br>To access VIPHealth app, please scan QR code below, or search "VIPHealth" in App Store/
                Google Play.
                <br><img class="down_app_qrcode" src='/p/static/images/app.png'
                         style="margin-left:30px; width:30%"/>
                <br><a target="_blank" href="https://mobile.mdland.com/ezhealthapiservice/page/download.htm"
                       class="btn btn-info btn-lg btn-block down_app_button">Download VIPHEALTH</a>
            </div>
            <div class="modal-footer btn-font" style="border-top: 0 none">
                <button type="button" class="button-on-hover btn-font btn-sm-padding btn-primary"
                        style="text-decoration: none" data-dismiss="modal" aria-label="Close">Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End download VIPHEALTH Modal for the top button  -->

<!-- Download VIPHEALTH Modal after update -->
<div class="modal fade" id="mg_modal_appdown_update" tabindex="-1" role="dialog"
     aria-labelledby="appdownModalLabelUpdate" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="appdownModalLabelUpdate">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your profile has been saved.
                <br><br>Please download VIPHealth to manage your COVID-19 vaccination appointment or schedule a new
                one.
                <br><br>To access VIPHealth app, please scan QR code below, or search "VIPHealth" in App Store/
                Google Play.
                <br><img class="down_app_qrcode" src='/p/static/images/app.png'
                         style="margin-left:30px; width:30%"/>
                <br><a target="_blank" href="https://mobile.mdland.com/ezhealthapiservice/page/download.htm"
                       class="btn btn-info btn-lg btn-block down_app_button">Download VIPHEALTH</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End download VIPHEALTH Modal after update profile -->

<!-- Download VIPHEALTH Modal after create account -->
<div class="modal fade" id="mg_modal_appdown_create" tabindex="-1" role="dialog"
     aria-labelledby="appdownModalLabelCreate" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="appdownModalLabelCreate">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your profile has been saved, please click 'Login' button to login.
            </div>
            <div class="modal-footer">
                <a href="/p/login/" type="button" class="btn btn-success" data-dismiss="modal"
                   onclick="window.location.href='/p/login/'">Login</a>
            </div>
        </div>
    </div>
</div>
<!-- End download VIPHEALTH Modal after create account -->

<!-- JS Global Compulsory -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
<script src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static 'vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
<script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
<!--
      <script src="{% static 'vendor/jquery-ui/ui/widget.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/version.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/keycode.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/position.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/unique-id.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/safe-active-element.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/widgets/menu.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/widgets/mouse.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/widgets/slider.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/widgets/datepicker.js' %}"></script> -->
<script src="{% static 'vendor/chosen/chosen.jquery.js' %}"></script>
<script src="{% static 'vendor/slick-carousel/slick/slick.js' %}"></script>
<script src="{% static 'vendor/fancybox/jquery.fancybox.min.js' %}"></script>

<!-- JS Unify -->
<script src="{% static 'js/hs.core.js' %}"></script>
<script src="{% static 'js/components/hs.header.js' %}"></script>
<script src="{% static 'js/helpers/hs.hamburgers.js' %}"></script>
<script src="{% static 'js/components/hs.dropdown.js' %}"></script>
<script src="{% static 'js/components/hs.datepicker.js' %}"></script>
<script src="{% static 'js/components/hs.slider.js' %}"></script>
<script src="{% static 'js/components/hs.select.js' %}"></script>
<script src="{% static 'js/components/hs.carousel.js' %}"></script>
<script src="{% static 'js/components/hs.popup.js' %}"></script>
<script src="{% static 'js/components/hs.go-to.js' %}"></script>

<!-- JS Customization -->
<script src="{% static 'js/custom.js' %}"></script>

<!-- JQuery i18n -->
<script src="{% static 'js/jquery.i18n/src/CLDRPluralRuleParser.js' %}"></script>
<script src="{% static 'js/jquery.i18n/src/jquery.i18n.js' %}"></script>
<script src="{% static 'js/jquery.i18n/src/jquery.i18n.messagestore.js' %}"></script>
<script src="{% static 'js/jquery.i18n/src/jquery.i18n.fallbacks.js' %}"></script>
<script src="{% static 'js/jquery.i18n/src/jquery.i18n.language.js' %}"></script>
<script src="{% static 'js/jquery.i18n/src/jquery.i18n.parser.js' %}"></script>
<script src="{% static 'js/jquery.i18n/src/jquery.i18n.emitter.js' %}"></script>
<script src="{% static 'js/jquery.i18n/src/jquery.i18n.emitter.bidi.js' %}"></script>

<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });

        // initialization of HSDropdown component
        $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
            afterOpen: function () {
                $(this).find('input[type="search"]').focus();
            }
        });

        // initialization of range slider
        $.HSCore.components.HSSlider.init('#rangeSlider1');

        // initialization of custom select
        $.HSCore.components.HSSelect.init('.js-custom-select');

        // initialization of carousel
        $.HSCore.components.HSCarousel.init('[class*="js-carousel"]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of mobile or pc style for app download style
        initMobileOrPCStyle();
    });

    function initMobileOrPCStyle() {
        var u = navigator.userAgent;
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios
        if (isAndroid || isiOS)
            $("body").removeClass("pc").addClass("mobile");
        else
            $("body").removeClass("mobile").addClass("pc");
    }

    $('#lang-toggle-web').on('click', function () {
        toggle_lang_list_ui_web();
    });

    function toggle_lang_list_ui_web() {
        console.log("click");
        let x = document.getElementById("lang-list-web");
        // let x = $("#lang-list-web");

        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    $('#lang-toggle-mob').on('click', function () {
        toggle_lang_list_ui_mob();
    });

    function toggle_lang_list_ui_mob() {
        let x = document.getElementById("lang-list-mob");
        // let x = $("#lang-list-web");

        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        $('.lang-pick').on('click',
            () => alert('Selected language support coming soon!')
        );
    });

    $('#signin-button-mob').on('click', function () {
        toggle_signin_list_mob();
    });

    $('#logout-button-mob').on('click', function () {
        toggle_logout_list_mob();
    });


    function toggle_logout_list_mob() {
        let x = document.getElementById("logout-list-mob");
        // let x = $("#lang-list-web");

        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function toggle_signin_list_mob() {
        let x = document.getElementById("signin-list-mob");
        // let x = $("#lang-list-web");

        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function language_swap(language) {
        let languages = ['en', 'es', 'cn']
        let difference = [];
        for (var i in languages) {
            var lan = languages[i];
            if (language != lan)
                difference.push(lan);
        }
        //let difference = languages.filter(x => ![language].includes(x)); // fix ie bug
        $("#" + language).parent().addClass("active");
        for (var i in difference) {
            $("#" + difference[i]).parent().removeClass("active");
        }
        console.log(language)
        let template = {}
        template[language] = '{% static "js/jquery.i18n/i18n/" %}' + language + '.json'
        $.i18n().load(template).done(function () {
            $.i18n({
                locale: language
            });
            $('body').i18n();
            $(".u-datepicker-v1").attr("placeholder", $.i18n('somos-date-placeholder'));
            $("[name='iAgreeInitials']").attr("placeholder", $.i18n('somos-initials-placeholder'));
            {% block i18n_promise %}
            {% endblock %}
        })

        let currentLang = sessionStorage.getItem('language');
        if (currentLang == 'en') {
            $("#lang-toggle-web").text("Eng")
            $("#lang-toggle-mob").text("Eng")
        }
        if (currentLang == 'es') {
            $("#lang-toggle-web").text("Esp")
            $("#lang-toggle-mob").text("Esp")

        }
        if (currentLang == 'cn') {
            $("#lang-toggle-web").text("中文")
            $("#lang-toggle-mob").text("中文")

        }
    }

    $(document).ready(function () {
        $(".icon-calendar").on("click", function (e) {
            $(e.target).closest(".input-group").find("input").trigger("focus");
        })

        /* check if language is in local session if not choose english */
        let language = sessionStorage.getItem('language');
        if (!language) {
            sessionStorage.setItem('language', 'en');
            language = "en";
        }
        language_swap(language)

        // $(".nav-ln").on('click', function (e) {
        //     e.preventDefault();
        //     let language = $(e.target).attr("id");
        //     if (language === 'cn') {
        //         alert($(e.target).text().trim() + ' language support coming soon!');
        //         language = 'en';
        //     }
        //     if (language === 'es') {
        //         alert($(e.target).text().trim() + ' language support coming soon!');
        //         language = 'en';
        //     }
        //     sessionStorage.setItem('language', 'en');
        //     language_swap(language);
        // });

        $("#lang-list-web").hide();
        $("#lang-list-mob").hide();
        $("#signin-list-mob").hide();

        let currentLang = sessionStorage.getItem('language');
        if (currentLang == 'en') {
            $("#lang-toggle-web").text("Eng")
            $("#lang-toggle-mob").text("Eng")
        }
        if (currentLang == 'es') {
            $("#lang-toggle-web").text("Esp")
            $("#lang-toggle-mob").text("Esp")

        }
        if (currentLang == 'cn') {
            $("#lang-toggle-web").text("中文")
            $("#lang-toggle-mob").text("中文")
        }
    })

    $(document).on('click', function (e) {
        let x = document.getElementById("lang-list-web");
        let y = document.getElementById("lang-list-mob");
        let z = document.getElementById("signin-list-mob");
        let zz = document.getElementById("logout-list-mob");
		 
        if (x!=null && !$(e.target).closest('#lang-toggle-web').length) {
            x.style.display = "none";
        }
        if (y!=null && !$(e.target).closest('#lang-toggle-mob').length) {
            y.style.display = "none";
        }
        if (z!=null && !$(e.target).closest('#signin-button-mob').length) {
            z.style.display = "none";
        }
        if (zz!=null && !$(e.target).closest('#logout-list-mob').length) {
            zz.style.display = "none";
        }
		 
    });

    // When the user scrolls the page, execute myFunction
    window.onscroll = function () {
        myFunction()
    };

    // Get the header
    var header = document.getElementById("js-header");

    // Get the offset position of the navbar
    var sticky = header.offsetTop;

    // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            header.classList.add("shadow");
            header.classList.add("mb-5");
        } else {
            header.classList.remove("sticky");
            header.classList.remove("shadow");
            header.classList.remove("mb-5");
        }
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script>
    $(document).ready(function () {
        let isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
        if (!isMobile) {
            $("select").selectpicker();
        }
    })
</script>
{% block js %}
{% endblock %}
</body>

</html>
