
{% load static %}

<style type="text/css">
/* style for question option */
.radio-box {display:inline;font-weight: 900;color: #253bcc;}
.radio-box input{display: none;}
.radio-box label{
    /* width: 90px;height: auto; */
    background: #ffffff;border: 2px solid #253bcc;cursor: pointer;
}
.radio-box input:checked + label{
    /* width: 90px;height: auto; */
    background: #253bcc;color: #ffffff;}

.no-rounded-border {border-radius: 0}

@media only screen and (min-width: 576px) {
    .radio-box-right-margin {margin-right: 31px;}
    .font-in-table {font-size: 18px;}
    .radio-box label{width: 90px;height: auto;}
    .radio-box input:checked + label{width: 90px;height: auto;}
 }

@media only screen and (max-width: 575px) {
    .radio-box-right-margin {margin-right: 18px;}
    .font-in-table {font-size: 14px;}
    .radio-box label{width: 70px;height: auto;}
    .radio-box input:checked + label{width: 70px;height: auto;}
 }
.insuDetailRow{display: none; line-height: 1.0}
</style>

<h3>Información del paciente</h3>
<table class = "p-secd-font font-in-table" cellpadding="3" cellspacing="3" style="margin-left:auto; margin-right: auto;">

    <tr>
        <td style="width:300px">Nombre<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td style="width: 400px"><input class="form-control no-rounded-border" type="text" isrequire="1" name="PatientFirstName"
                                        id="PatientFirstName"
                                        value="{{ Pat.PatientFirstName }}" maxlength="32" style="width: 100%"></td>
    </tr>


    <tr>
        <td> &nbsp; Inicial del segundo nombre</td>
        <td><input class="form-control no-rounded-border" type="text"  name="PatientMidName" id="PatientMidName"
                   value="{{ Pat.PatientMidName }}" maxlength="1" style="width: 50%">
        </td>
    </tr>

    <tr>
        <td>Apellido<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control no-rounded-border" type="text" isrequire="1" name="PatientLastName" id="PatientLastName"
                   value="{{ Pat.PatientLastName }}" maxlength="32" style="width: 100%">
        </td>
    </tr>
    <tr>
        <td>DOB<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td>
            <div class="input-group g-brd-primary--focus">
                <input type="date" name="PatientDOB" maxlength="10" isrequire="1"
                       id="PatientDOB" value="{{ Pat.PatientDOB }}"
                       class="form-control form-control-md no-rounded-border"
                       placeholder="MM/DD/YYYY" required
                       onchange="ageCheck()">
            </div>
        </td>
    </tr>

    <tr>
        <td>Número de teléfono móvil<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control no-rounded-border" isphone="1" type="text" maxlength="16"
                   isrequire="1" value="{{ Pat.PatientMobilePhone }}"
                   onkeydown="oldPhoneTextValue = this.value;" title="xxx-xxx-xxxx"
                   name="PatientMobilePhone" id="PatientMobilePhone"
                   onkeyup="autoFillPhone(this,event);"></td>
    </tr>
    {% if PageButtonSubmit != 'Update' %}
    <tr>
        <td title="login with email to get your lab result">Dirección de correo electrónico

                <i class="fa fa-fw fa-asterisk text-danger"></i>

        </td>
        <td><input class="form-control no-rounded-border" type="text" maxlength="32" isrequire="1"
                   name="PatientEmail" value="{{ Pat.PatientEMail }}"
                   id="PatientEmail" style="width: 100%"></td>

    </tr>
    {% endif %}
    {% if PageMode == 'SignUp' and PageShowPassword %}
        <tr>
            <td>Password <i class="fa fa-fw fa-asterisk text-danger"></i></td>
            <td><input class="form-control no-rounded-border" type="password" maxlength="32"
                       name="Password" id="Password" style="width: 100%"></td>

        </tr>
    {% endif %}

    <tr>
        <td style=" line-height: 0.8">¿Qué sexo se le asignó al nacer?<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td>
            <select class="form-control no-rounded-border" name="PatientGender" isrequire="1"
                id="PatientGender">
                <option value="">Seleccione una opción</option>
                <option value="F" {% if Pat.PatientGender == 'F' %} selected {% endif %}>Femenino</option>
                <option value="M" {% if Pat.PatientGender == 'M' %} selected {% endif %}>Masculino</option>
                <option value="N" {% if Pat.PatientGender == 'N' %} selected {% endif %}>Ni femenino ni masculino</option>
                <option value="U" {% if Pat.PatientGender == 'U' %} selected {% endif %}>Desconocido</option>
                <option value="O" {% if Pat.PatientGender == 'O' %} selected {% endif %}>Prefiero no responder</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style=" line-height: 0.8">¿Cómo identifica su género?<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td  style="padding-top:10px">
            <select class="form-control no-rounded-border" name="GenderIdentity" isrequire="1"
                        id="GenderIdentity">
                <option value="">Seleccione una opción</option>
                <option value="Woman"              {% if Pat.GenderIdentity == 'Woman' %} selected {% endif %} >Mujer</option>
                <option value="Man"                {% if Pat.GenderIdentity == 'Man' %} selected {% endif %} >Hombre</option>
                <option value="Transgender Woman"  {% if Pat.GenderIdentity == 'Transgender Woman' %} selected {% endif %} >Mujer transgénero</option>
                <option value="Transgender Man"    {% if Pat.GenderIdentity == 'Transgender Man' %} selected {% endif %} >Hombre transgénero</option>
                <option value="Non-binary person"  {% if Pat.GenderIdentity == 'Non-binary person' %} selected {% endif %} >Persona no binaria</option>
                <option value="Genderqueer person" {% if Pat.GenderIdentity == 'Genderqueer person' %} selected {% endif %} >Persona intergénero</option>
                <option value="Not Listed"         {% if Pat.GenderIdentity == 'Not Listed' %} selected {% endif %} >Una identidad de género no enumerada</option>
                <option value="Unknown"            {% if Pat.GenderIdentity == 'Unknown' %} selected {% endif %} >Desconocido</option>
                <option value="Prefer not to answer"      {% if Pat.GenderIdentity == 'Prefer not to answer' %} selected {% endif %} >Prefiero no responder</option>
            </select>
          <!-- <input class="" type="radio" isrequire="1" id="PatientGenderM" name="PatientGender"
                {% if Pat.PatientGender == 'M' %} checked {% endif %}
                   value="M">&nbsp;<label for="PatientGenderM">Male</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" id="PatientGenderF" name="PatientGender"
                    {% if Pat.PatientGender == 'F' %} checked {% endif %}
                   value="F">&nbsp;<label for="PatientGenderF">Female</label> -->
        <!--
         <div class="radio-box font-in-table text-center">
            <input class="" type="radio" isrequire="1" id="PatientGenderM" name="PatientGender"
               {% if Pat.PatientGender == 'M' %} checked {% endif %}
                  value="M"><label for="PatientGenderM" class="radio-box-right-margin">Male</label>
           <input type="radio" id="PatientGenderF" name="PatientGender"
                   {% if Pat.PatientGender == 'F' %} checked {% endif %}
                  value="F"><label for="PatientGenderF">Female</label>
         </div> -->
    </tr>
    <tr>
        <td>Dirección<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control no-rounded-border" type="text" isrequire="1" maxlength="50"
                   name="PatientAddrStreet" value="{{ Pat.PatientAddrStreet }}"
                   id="PatientAddrStreet" style="width: 100%"/></td>
    </tr>
    <tr>
        <td>Apto./Suite</td>
        <td><input class="form-control no-rounded-border" type="text" maxlength="5" isrequire="0"
                   name="PatientAddrApt" value="{{ Pat.PatientAddrApt }}"
                   id="PatientAddrApt"/></td>
    </tr>
    <tr>
        <td>Ciudad<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control no-rounded-border" type="text" isrequire="1" maxlength="16"
                   name="PatientAddrCity" value="{{ Pat.PatientAddrCity }}"
                   id="PatientAddrCity"></td>
    </tr>
    <tr>
        <td>Estado<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><select class="form-control no-rounded-border" name="PatientAddrState" isrequire="1"
                    id="PatientAddrState">
            <option value="" selected="selected">Select a State</option>
            <option value="NY">New York</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select></td>

    </tr>

    <tr style="display: none">
        <td>County<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td style="font-family: Gotham-book"><select class="form-control no-rounded-border" name="PatientAddrCounty" isrequire="0"
                    id="PatientAddrCounty">
            <option value="" selected="selected">Select a County</option>
            <option data-value="10244" value="Albany">Albany</option>
            <option data-value="10245" value="Allegany">Allegany</option>
            <option data-value="10246" value="Bronx">Bronx</option>
            <option data-value="10247" value="Broome">Broome</option>
            <option data-value="10248" value="Cattaraugus">Cattaraugus</option>
            <option data-value="10249" value="Cayuga">Cayuga</option>
            <option data-value="10250" value="Chautauqua">Chautauqua</option>
            <option data-value="10251" value="Chemung">Chemung</option>
            <option data-value="10252" value="Chenango">Chenango</option>
            <option data-value="10253" value="Clinton">Clinton</option>
            <option data-value="10254" value="Columbia">Columbia</option>
            <option data-value="10255" value="Cortland">Cortland</option>
            <option data-value="10256" value="Delaware">Delaware</option>
            <option data-value="10257" value="Dutchess">Dutchess</option>
            <option data-value="10258" value="Erie">Erie</option>
            <option data-value="10259" value="Essex">Essex</option>
            <option data-value="10260" value="Franklin">Franklin</option>
            <option data-value="10261" value="Fulton">Fulton</option>
            <option data-value="10262" value="Genesee">Genesee</option>
            <option data-value="10263" value="Greene">Greene</option>
            <option data-value="10264" value="Hamilton">Hamilton</option>
            <option data-value="10265" value="Herkimer">Herkimer</option>
            <option data-value="10266" value="Jefferson">Jefferson</option>
            <option data-value="10267" value="Kings (Brooklyn)">Kings (Brooklyn)</option>
            <option data-value="10268" value="Lewis">Lewis</option>
            <option data-value="10269" value="Livingston">Livingston</option>
            <option data-value="10270" value="Madison">Madison</option>
            <option data-value="10271" value="Monroe">Monroe</option>
            <option data-value="10272" value="Montgomery">Montgomery</option>
            <option data-value="10273" value="Nassau">Nassau</option>
            <option data-value="10274" value="New York (Manhattan)">New York (Manhattan)</option>
            <option data-value="10275" value="Niagara">Niagara</option>
            <option data-value="10276" value="Oneida">Oneida</option>
            <option data-value="10277" value="Onondaga">Onondaga</option>
            <option data-value="10278" value="Ontario">Ontario</option>
            <option data-value="10279" value="Orange">Orange</option>
            <option data-value="10280" value="Orleans">Orleans</option>
            <option data-value="10281" value="Oswego">Oswego</option>
            <option data-value="10282" value="Otsego">Otsego</option>
            <option data-value="10283" value="Putnam">Putnam</option>
            <option data-value="10284" value="Queens">Queens</option>
            <option data-value="10285" value="Rensselaer">Rensselaer</option>
            <option data-value="10286" value="Richmond (Staten Island)">Richmond (Staten Island)</option>
            <option data-value="10287" value="Rockland">Rockland</option>
            <option data-value="10288" value="Saint Lawrence">Saint Lawrence</option>
            <option data-value="10289" value="Saratoga">Saratoga</option>
            <option data-value="10290" value="Schenectady">Schenectady</option>
            <option data-value="10291" value="Schoharie">Schoharie</option>
            <option data-value="10292" value="Schuyler">Schuyler</option>
            <option data-value="10293" value="Seneca">Seneca</option>
            <option data-value="10294" value="Steuben">Steuben</option>
            <option data-value="10295" value="Suffolk">Suffolk</option>
            <option data-value="10296" value="Sullivan">Sullivan</option>
            <option data-value="10297" value="Tioga">Tioga</option>
            <option data-value="10298" value="Tompkins">Tompkins</option>
            <option data-value="10299" value="Ulster">Ulster</option>
            <option data-value="10300" value="Warren">Warren</option>
            <option data-value="10301" value="Washington">Washington</option>
            <option data-value="10302" value="Wayne">Wayne</option>
            <option data-value="10303" value="Westchester">Westchester</option>
            <option data-value="10304" value="Wyoming">Wyoming</option>
            <option data-value="10305" value="Yates">Yates</option>
            <option data-value="10306" value="Outside of NY State">Outside of NY State</option>
        </select></td>

    </tr>

    <tr>
        <td>Código postal<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control no-rounded-border" type="text" isrequire="1" maxlength="5"
                   name="PatientAddrZip" value="{{ Pat.PatientAddrZip }}"
                   id="PatientAddrZip"></td>
    </tr>
<!--
    <tr>

        <td>Preferred Language</td>
        <td><select name="PatientLanguage" id="PatientLanguage" class="form-control no-rounded-border">
            <option value="English" {% if Pat.Language == 'English' %} selected {% endif %}>English</option>
            <option value="Chinese" {% if Pat.Language == 'Chinese' %} selected {% endif %}>Chinese</option>
            <option value="Spanish" {% if Pat.Language == 'Spanish' %} selected {% endif %}>Spanish</option>
        </select></td>

    </tr>
    -->
    <tr>
        <td style=" line-height: 0.9">¿Con qué raza se identifica?</td>
        <td><input class="form-control no-rounded-border" type="text" readonly
                   placeholder="Click Here To Choose" name="PatientRaceName" value="{{ Pat.PatientRaceName }}"
                   id="patientRaceName" onclick="showRaceDialog()"/>
            <input class="form-control no-rounded-border" type="hidden" value="{{ Pat.PatientRaceCode }}"
                   name="PatientRaceCode" id="patientRaceCode"/>
        </td>
    </tr>
    <tr>
        <td title="Ethnicity" style="line-height: 0.9">¿Se identifica como hispano/a o latino/a?</td>
        <td>
            <!--
            <select name="PatientEthnicityCode" value="PatientEthnicityCode" class="form-control">
                <option value=""> </option>
                <option value="E1" {% if Pat.PatientEthnicityCode == 'E1' %}selected{% endif %}>Hispanic Or Latino</option>
                <option value="E2" {% if Pat.PatientEthnicityCode == 'E2' %}selected{% endif %}>Not Hispanic Or Latino</option>
                <option value="E3" {% if Pat.PatientEthnicityCode == 'E3' %}selected{% endif %}>Prefer not to answer</option>
            </select>-->

            <input class="form-control no-rounded-border" type="text" readonly
                   placeholder="Click Here To Choose" name="PatientEthnicityName" value="{{ Pat.PatientEthnicityName }}"
                   id="patientEthnicityName" onclick="showEthnicityDialog()"/>
            <input class="form-control no-rounded-border" type="hidden" value="{{ Pat.PatientEthnicityCode }}"
                   value="" name="PatientEthnicityCode"
                   id="patientEthnicityCode"/>

        </td>
    </tr>
<!--
    <tr>
        <td>Home Phone</td>
        <td><input class="form-control no-rounded-border" type="text" isphone="1" isrequire="0"
                   name="PatientHomePhone" value="{{ Pat.PatientHomePhone }}"
                   maxlength="16" id="PatientHomePhone"
                   onkeydown="oldPhoneTextValue = this.value;"
                   onkeyup="autoFillPhone(this,event);" title="xxx-xxx-xxxx"></td>
    </tr>
-->
<!--
    <tr>
        <td style="line-height: 1.0; font-size:90%">Do you have a Primary<br/>Care Physician?<i
                class="fa fa-fw fa-asterisk text-danger"></i>
        </td>
        <td style="padding-top:10px">
          <div class="radio-box font-in-table text-center">
              <input type="radio" isrequire="1" name="HasPCP" onclick="changePCP(1)"  {% if Pat.PCPFlag == "1" %}
                      checked {% endif %}
                      value="1" id="HasPCPYes"/><label for="HasPCPYes" class="radio-box-right-margin">Yes</label>
              <input type="radio" name="HasPCP" value="0" onclick="changePCP(0)"      {% if Pat.PCPFlag == "0" %}
                      checked {% endif %}
                      id="HasPCPNo"/><label for="HasPCPNo">No</label>
          </div>
        </td>
    </tr>

-->
    <tr id="trPCPName" style="display: none">
        <td>Physician Name<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control no-rounded-border" type="text" maxlength="50" name="PCPName" id="PCPName" value="{{ Pat.PCPName }}"
                   style="width: 80%">
            {#                                        &nbsp;&nbsp;<a href="javascript:void(0)"#}
            {#                                                                                 onclick="searchProvider()">Search</a>#}

            <select class="form-control no-rounded-border" id="SOMOSProviderList" style="display: none;"
                    onchange="replacePCP()"></select></td>
    </tr>
    <tr id="trPCPPhone" style="display: none;">
        <td style=" line-height: 0.7">Physican Contact Number<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control no-rounded-border" type="text" isphone="1" maxlength="16" name="PCPPhone"
                   value="{{ Pat.PCPNumber }}"
                   id="PCPPhone"
                   title="xxx-xxx-xxxx" onkeydown="oldPhoneTextValue = this.value;"
                   onkeyup="autoFillPhone(this,event);"></td>
    </tr>


<!--
    <tr>
        <td style="line-height: 1.0; font-size: 90%;">Employer /<br>City Agency</td>
        <td><input class="form-control no-rounded-border" type="text" name="EmployerName"  maxlength="100"
                   value="{{ Pat.EmployerName }}"/></td>
    </tr>
    <tr>
        <td style="line-height: 1.0; font-size: 90%;">Employee Identification /<br>Reference<br>Number</td>
        <td><input class="form-control no-rounded-border" type="text" name="EIN"  maxlength="7"
                   value="{{ Pat.EIN }}"/></td>
    </tr>

    <tr>
        <td class="tdInputTitle">Work Phone</td>
        <td>
            <input class="form-control no-rounded-border" type="text" name="PatientWorkPhone" maxlength="16"
                   style="width: 155px;display:inline;"
                   id="patientWorkPhone" value="{{ Pat.PatientWorkPhone }}"
                   title="axxx-xxx-xxxx"/> -
            <input class="form-control no-rounded-border" type="text" name="PatientWorkPhoneExt" style="width: 38px;display:inline;"
                   maxlength="6" value="{{ Pat.PatientWorkPhoneExt }}"
                   id="patientWorkPhoneExt"/>
        </td>
    </tr>
    <tr>
        <td style="line-height: 0.9">Receive Text Notifications?<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td style="padding-top:10px">
          <div class="radio-box font-in-table text-center">
              <input class="" type="radio" isrequire="1" id="PatientTextNotifY" name="PatientTextNotif"
                  {% if Pat.NotificationText == '1' %} checked {% endif %}
                  value=1><label for="PatientTextNotifY" class="radio-box-right-margin">Yes</label>
              <input type="radio" id="PatientTextNotifN" name="PatientTextNotif"
                      {% if Pat.NotificationText == '0' %} checked {% endif %}
                  value=0><label for="PatientTextNotifN">No</label>
          </div>
    </tr>
    <tr>
        <td style="line-height: 0.9; width: 500px">Receive Email Notifications?<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td >
          <div class="radio-box font-in-table text-center">
            <input class="" type="radio" isrequire="1" id="PatientEmailNotifY" name="PatientEmailNotif"
                {% if Pat.NotificationEmail == '1' %} checked {% endif %}
                value=1><label for="PatientEmailNotifY" class="radio-box-right-margin">Yes</label>
            <input type="radio" id="PatientEmailNotifN" name="PatientEmailNotif"
                    {% if Pat.NotificationEmail == '0' %} checked {% endif %}
                value=0><label for="PatientEmailNotifN">No</label>
        </div>
    </tr>
-->

    <tr id="ParentalConsent" style="display: none">
        <td style="line-height: 0.9; font-size: 90%;">Si la persona que recibe la vacuna es menor de 18 años, marque aquí para proporcionar el consentimiento de los padres o tutores:<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td >
            <div class="font-in-table text-center">
              <input class="" type="checkbox" isrequire="1" id="GuardianConsent" name="GuardianConsent" 
              style="width:20px;height:20px;float:left"
                  {% if Pat.GuardianConsent == 'Y' %} checked {% endif %}
                  value="Y">
          </div>
    </tr>
    <tr id="ParentName" style="display: none">
        <td>Nombre de la padre/madre o tutor legal<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control no-rounded-border" type="text" maxlength="50" name="GuardianName" 
            id="GuardianName" value="{{ Pat.GuardianName }}"
                   style="width: 80%">
    </tr>
    
</table>

<hr/>
<h3>Seguro de salud</h3>
<table class = "p-secd-font font-in-table" cellpadding="3" cellspacing="8" style="margin-left:auto; margin-right: auto;">
    <tr>
        <td colspan="5">
            <h5>¡Las vacunas contra la COVID-19 son gratuitas para usted!</h5>
            El seguro no es necesario, pero si usted tiene seguro, el proveedor de vacunas facturará a su compañía de seguros por una tarifa de administración. No se le cobrará un copago.
        </td>
    </tr>
</table>
<table class = "p-secd-font font-in-table" cellpadding="3" cellspacing="3" style="margin-left:auto; margin-right: auto;width: 80%">
     <tr>
       <td style="width:50%"> ¿Tiene seguro de salud? <i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><select class="form-control no-rounded-border" id="HealthInsurance"
                    onchange2="changeInsurance(this)"
                    onchange="showInsuranceForm()"
                    name="HealthInsurance">
            <option value="0"  {% if Pat.InsuredFlag == "0" %} selected {% endif %}>No</option>
            <option value="1"  {% if Pat.InsuredFlag == "1" %} selected {% endif %}>Si</option>
        </select></td>
    </tr>

    <tr style="display: none" id="trQuestionInsu">
       <td style="line-height: 0.9"> ¿Desea ingresar la información del seguro de salud ahora? <i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><select class="form-control no-rounded-border" id="selWillingToProvideInsurance"
                    onchange="showInsuranceForm()"
                    name="WillingToProvideInsurance">
            <option value="0"  {% if Pat.InsuredFlag == "0" %} selected {% endif %}>No</option>
            <option value="1"  {% if Pat.InsuredFlag == "1" %} selected {% endif %}>Si</option>
        </select></td>
    </tr>

{#    <input id="HealthInsurance" type="hidden" value="1">#}
<!--
    <tr id="trInsuName" style="display:none">
        <td>Insurance Name<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control no-rounded-border" type="text" maxlength="50"
                   name="HealthInsuranceName" value="{{ Pat.InsuredName }}"
                   id="HealthInsuranceName"></td>
    </tr>
    <tr id="trInsuID" style="display:none" >
        <td>Insurance ID<i class="fa fa-fw fa-asterisk text-danger"></i></td>
        <td><input class="form-control no-rounded-border" type="text" maxlength="50"
                   name="HealthInsuranceID" value="{{ Pat.InsuredID }}"
                   id="HealthInsuranceID"></td>
    </tr>
  -->
    <tr>
        <td class="PrivateInsurance Medicaid Medicare Uninsured" id="tdInsuType"><i class="fa fa-fw fa-asterisk text-danger"></i>Tipo de seguro<br/>
            <select class="form-control no-rounded-border" onchange="showInsuranceForm();" id="selInsuType" name="HealthInsuranceName">
                <option value="">Seleccione una opción</option>
                <option value="Medicaid">Medicaid</option>
                <option value="Medicare">Medicare</option>
                <option value="PrivateInsurance" selected>Seguro privado</option>
                <option value="Uninsured">Sin seguro</option>
            </select>
        </td>
        <td class="PrivateInsurance"><i class="fa fa-fw fa-asterisk text-danger"></i> Nombre de la compañía <br/>
            <input type="text" name="PrivateInsuranceCompanyName" class="form-control no-rounded-border" id="PrivateInsuranceCompanyName"/>
        </td>
        <td class="Medicaid">
            Recipient ID Number<br/>
             <input type="text" name="MedicaidRecipientIDNumber" class="form-control no-rounded-border"/>
        </td>
        <td class="Medicare">
            Beneficiary ID Number<br/>
             <input type="text" name="MedicareBeneficiaryIDNumber" class="form-control no-rounded-border"/>
        </td>
    </tr>

     <tr class="insuDetailRow Medicaid">
         <td>Nombre del plan<br/>
            <select name="MedicaidPlanName" class="form-control no-rounded-border" >
                <option value="">Seleccione una opción</option>
                <option value="Medicaid">Medicaid</option>
                <option value="Medicaid Out Of State of New York">Medicaid fuera del estado de Nueva York</option>
                <option value="Other">Otra</option>
            </select>
         </td>
         <td>PCN (CENTRO DE ATENCIÓN AL PACIENTE)<br/>
            <input type="text" name="MedicaidPCN" class="form-control no-rounded-border" />
         </td>
     </tr>
    <tr class="insuDetailRow Medicaid">
        <td>CONTENEDOR<br/>
              <input type="text" name="MedicaidBIN" class="form-control no-rounded-border" />
        </td>
        <td>Fecha de entrada en vigencia de la cobertura<br/>
              <input type="text" name="MedicaidEffectiveDate" class="form-control no-rounded-border" id="MedicaidEffectiveDate" />
         </td>
    </tr>

    <tr class="insuDetailRow Medicare">
        <td>Fecha de entrada en vigencia de la cobertura<br/>
              <input type="text" name="MedicareEffectiveDate" class="form-control no-rounded-border" id="MedicareEffectiveDate" />
         </td>
        <td>PCN (CENTRO DE ATENCIÓN AL PACIENTE)<br/>
            <input type="text" name="MedicarePCN" class="form-control no-rounded-border"/>
         </td>
    </tr>
    <tr class="insuDetailRow Medicare">
        <td>BIN<br/>
            <input type="text" name="MedicareBIN" class="form-control no-rounded-border"/>
         </td>
    </tr>

    <tr class="insuDetailRow PrivateInsurance">
         <td>
            Nombre del plan<br/>
             <input type="text" name="PrivateInsurePlanName" class="form-control no-rounded-border"/>
         </td>
        <td><span class="g-color-red">*</span> Número de identificación del miembro<br/>
            <input type="text" name="PrivateInsuranceMemberID" class="form-control no-rounded-border" id="PrivateInsuranceMemberID"/>
        </td>
    </tr>
    <tr class="insuDetailRow PrivateInsurance">
         <td>Número de grupo<br/>
              <input type="text" name="PrivateInsuranceGroupName" class="form-control no-rounded-border" />
         </td>
        <td>PCN (CENTRO DE ATENCIÓN AL PACIENTE)<br/>
              <input type="text" name="PrivateInsurancePCN" class="form-control no-rounded-border" />
         </td>
    </tr>

    <tr class="insuDetailRow PrivateInsurance">
         <td>CONTENEDOR<br/>
              <input type="text" name="PrivateInsuranceBIN" class="form-control no-rounded-border" />
         </td>
        <td>Relación con el titular de la póliza<br/>
            <select name="PrivateInsuranceRelationship" class="form-control no-rounded-border">
                <option value="">Select an Option</option>
                <option value="Self">Autoevaluación</option>
                <option value="Spouse">Cónyuge</option>
                <option value="Child">Niño</option>
                <option value="Other">Otro</option>
            </select>
        </td>
    </tr>

    <tr class="insuDetailRow PrivateInsurance">
         <td>Nombre del titular de la póliza<br/>
              <input type="text" name="PrivateInsuranceFirstName" class="form-control no-rounded-border" />
         </td>
        <td>Apellido del titular de la póliza<br/>
              <input type="text" name="PrivateInsuranceLastName" class="form-control no-rounded-border" />
         </td>
    </tr>

    <tr class="insuDetailRow PrivateInsurance">
         <td>Fecha de nacimiento del titular de la póliza<br/>
              <input type="date" name="PrivateInsuranceDOB" class="form-control no-rounded-border" id="PrivateInsuranceDOB"/>
         </td>
        <td>Fecha de entrada en vigencia de la cobertura<br/>
              <input type="text" name="PrivateInsuranceEffectiveDate" class="form-control no-rounded-border" id="PrivateInsuranceEffectiveDate" />
         </td>
    </tr>

</table>
