{% load static %}

   <script src="/p/static/js/jquery-ui-1.12.0/jquery-ui.min.js" type="text/javascript"></script>
   <script src="{% static 'vendor/jquery.maskedinput/src/jquery.maskedinput.js' %}"></script>
   <script src="{% static 'js/components/hs.masked-input.js' %}"></script>

    <script>
        $(document).on('ready', function () {
            // initialization of forms
            $.HSCore.components.HSMaskedInput.init('[data-mask]');
            $.HSCore.components.HSDatepicker.init('#PrivateInsuranceEffectiveDate', { dateFormat: 'mm/dd/yy' });
            $.HSCore.components.HSDatepicker.init('#MedicaidEffectiveDate', { dateFormat: 'mm/dd/yy' });
            $.HSCore.components.HSDatepicker.init('#MedicareEffectiveDate', { dateFormat: 'mm/dd/yy' });
        });
    </script>

<style>
    .ui-widget-header {
        font-family: Gotham-black;
        border: none;
        background: none;
    }
    .ui-corner-all {
        border-radius: 0px;
    }
    .ui-widget-content {
        font-family: Gotham-book;
    }
    .ui-button {
        font-family: Gotham-bold !important;
        background-color: #253BCC;
        border-color: #253BCC;
        color: white;
    }
    .ui-button:hover {
        background-color: #253BCC;
        opacity: 0.8;
        color: white
    }
    .ui-dialog-titlebar-close {
        background: none;
        border: none;
    }
    .ui-dialog-titlebar-close:hover {
        background: none;
        border: none;
    }
    .ui-button-icon-only:hover {
        color: black !important;
    }
    .ui-dialog-buttonpane {
        border-top: none;
    }
    
</style>

<script type="text/javascript">

    //validate patient information and agree to terms
        function validateForm() {
            var ret = true
            $('[isrequire="1"]').each(function () {
                if (!ret) return

                var obj = $(this);
                if (obj.is('select') || obj.attr('type') == 'text') {
                    if (trimStr(obj.val()).length == 0) {
                        ret = false
                        obj.focus()
                    }
                } else if (obj.attr('type') == 'radio') {
                    var val = ''
                    $('[name="' + obj.attr('name') + '"]').each(function () {
                        if ($(this)[0].checked)
                            val = $(this).val()
                    })
                    if (val == '') {
                        ret = false
                        obj.focus()
                    }
                }
            })

            if (ret && $('#HasPCPYes').length > 0 &&$('#HasPCPYes')[0].checked) {
                if (trimStr($('#PCPName').val()).length == 0) {
                    $('#PCPName').focus()
                    ret = false
                }
                if (trimStr($('#PCPPhone').val()).length == 0) {
                    $('#PCPPhone').focus()
                    ret = false
                }
            }
            
            if (ret && !ageCheck()) {
                if (!$('#GuardianConsent')[0].checked) {
                    $('#GuardianConsent').focus()
                    ret = false
                }
                if (trimStr($('#GuardianName').val()).length == 0) {
                    $('#GuardianName').focus()
                    ret = false
                } 
            }
            /*
            if (ret && trimStr($('#HealthInsurance').val()) == '1' && trimStr($('#HealthInsuranceID').val()).length == 0) {
                $('#HealthInsuranceID').focus()
                ret = false
            }*/

            if (!ret) {
                alert('Please fill in the required * fields.')
                return false
            }

            if(document.getElementById('Password') != null){
                var pwd = $('#Password').val();
                if(pwd.length < 8){
                    alert("The minimal length of password is 8.");
                    document.getElementById('Password').focus();
                    return false;
                }
                if($('#PatientEmail').val().length <3){
                    alert("Please input a valid email.");
                    document.getElementById('Password').focus();
                    return false;
                }
            }

            if (trimStr($('#PatientDOB').val()).length == 0 ) {
                alert('Please fill in a valid date like 01/01/2000.')
                $('#PatientDOB').focus();
                return false
            }

            if (trimStr($('#PatientEmail').val()).length > 0 && !checkEmail($('#PatientEmail').val())) {
                alert('Please fill in a valid Email like user@somos.com.')
                $('#PatientEmail').focus()
                return false
            }

            ret = true
            $("[isphone='1']").each(function () {
                if (!ret) return
                var phone = trimStr($(this).val())
                if (phone.length > 0 && !checkTeleNum(phone)) {
                    alert('Please fill in a valid Phone Number.')
                    $(this).focus()
                    ret = false
                }
            })
            if (!ret)
                return false;

            if (!validateInsuranceForm()){
                return false;
            }

            if (trimStr($('#PatientAddrZip').val()).length > 0 && !chkZip($('#PatientAddrZip').val())) {
                alert('Please fill in a valid Zip Code like 10016.')
                $('#PatientAddrZip').focus()
                return false
            }

            if (document.getElementById('id_iAgree') != null && typeof (document.getElementById('id_iAgree')) != 'undefined') {
                if (!document.getElementById('id_iAgree').checked) {
                    alert('You need to agree "Terms of Use" !');
                    return false;
                }
            }

            if (document.getElementById('id_Understand') != null && typeof (document.getElementById('id_Understand')) != 'undefined') {
                if (!document.getElementById('id_Understand').checked) {
                    alert('You need to understand "This is performing Immunity/IGG or COVID tests only." !');
                    return false;
                }
            }

            return true
        }


        function changePCP(val) {
            if (val == 1) {
                $('#trPCPName').show()
                $('#trPCPPhone').show()
            } else {
                $('#trPCPName').hide()
                $('#trPCPPhone').hide()
                $('#PCPName').val('')
                $('#PCPPhone').val('')
            }
        }

        function changeInsurance(obj) {
            if ($(obj).val() == '1') {
                $('#trInsuID').show()
                $('#trInsuName').show()
            } else {
                $('#trInsuID').hide()
                $('#trInsuName').hide()
                $('#HealthInsuranceID').val('')
                $('#HealthInsuranceName').val('')
            }
        }

        function ageCheck() {
            let dob = document.getElementById("PatientDOB");
            let dob_ms = new Date(dob.value).getTime();
            let now_ms = Date.now();
            let years = (now_ms - dob_ms)/1000/60/60/24/365;
            
            if ((years < 18) || (years > 110)) {
                $('#ParentalConsent').show()
                $('#ParentName').show()
                return false
            } else {
                $('#ParentalConsent').hide()
                $('#ParentName').hide()
                $('#GuradianConsent').val('')
                $('#GuardianName').val('')
                return true
            }
        }

</script>

   <script type="text/javascript">
        function trimStr(x1) {
            if (x1 == null || x1.length <= 0)
                return "";
            return x1.trim();
        }

        function chkZip(vle, type) {
            var r = /[0-9]{5}/;
            if (type && type == 1) {
                r = /[0-9]{4}/;
            }
            return r.test(vle);
        }

        function checkTeleNum(str) {
            error = 0;
            var tempstr;

            if (str.length == 10) {
                tempstr = str.substr(0, 3) + "-" + str.substr(3, 3) + "-" + str.substr(6, 4);
                str = tempstr;
            }

            if (str.length != 12)
                error = 1;
            else {
                str = str.substr(0, 12);
                for (var i = 0; i < 3; i++)
                    if (!(str.charAt(i) >= '0' && str.charAt(i) <= '9'))
                        error = 1;
                if (str.charAt(3) != ' ' && str.charAt(3) != '-')
                    error = 1;
                for (var i = 4; i < 7; i++)
                    if (!(str.charAt(i) >= '0' && str.charAt(i) <= '9'))
                        error = 1;
                if (str.charAt(7) != ' ' && str.charAt(7) != '-')
                    error = 1;
                for (var i = 8; i < 12; i++)
                    if (!(str.charAt(i) >= '0' && str.charAt(i) <= '9'))
                        error = 1;
            }
            if (error == 1) {
                return 0;
            } else {
                return 1;
            }
        }

        var oldPhoneTextValue = ''

        function autoFillPhone(obj, evt) {
            var keycode = evt.keyCode;

            if (keycode == 37 || keycode == 46) return;

            var vle = trimStr(obj.value);
            if (vle.length > 12) {
                var list = vle.split("-");
                obj.value = "";
                for (i = 0; i < list.length; i++) {
                    obj.value += list[i];
                }
                return;
            }

            if (keycode == 8) {
                if (oldPhoneTextValue.length > 0) {
                    if (oldPhoneTextValue.charAt(oldPhoneTextValue.length - 1) == "-") {
                        var list = vle.split("-");
                        if (list.length == 1) {
                            if (list[0].length == 3) {
                                obj.value = list[0].charAt(0) + list[0].charAt(1);
                            }
                        }
                        if (list.length == 2) {
                            if (list[1].length == 3) {
                                obj.value = list[0] + "-" + list[1].charAt(0) + list[1].charAt(1);
                            }
                        }
                    }
                }
                return;
            }

            if (vle.length == 0) return;

            if (vle.length == 3) {
                if (vle.indexOf("-") == -1) {
                    obj.value += "-";
                }
                return;
            }

            vle = obj.value;

            var list = vle.split("-");  // input like 718-
            if (list.length == 2) {
                if (list[1].length == 3) {
                    obj.value += "-";
                }
                return;
            }

            vle = obj.value;
            if (vle.length == 7) {
                if (vle.split("-").length < 3)
                    obj.value += "-";
            }
        }

        function checkEmail(str) {
            var pattern = /^([a-zA-Z0-9._-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
            flag = pattern.test(str);
            if (!flag) {
                return false;
            }
            return true;
        }

        function checkDateStr(dateStr) {
            if (typeof (dateStr) == 'undefined' || dateStr == "") return false;
            var place;
            var tempStr;
            var count = 0;
            var intrLine1 = "/";
            var intrLine2 = "-";
            var month, day, year;

            if (dateStr.indexOf('.') != -1)
                return false;

            if (dateStr.length <= 0) {
                return false;
            }

            if (dateStr.length == 8 && isNumber(dateStr)) {
                tempStr = dateStr.substr(0, 2) + "/" + dateStr.substr(2, 2) + "/" + dateStr.substr(4, 4);
                dateStr = tempStr;
            }

            place = dateStr.indexOf(intrLine1);
            if (place == -1)
                place = dateStr.indexOf(intrLine2);
            if (place == -1) return false;
            tempStr = dateStr.substr(0, place);
            month = tempStr;
            dateStr = dateStr.substr(place + 1, dateStr.length - (place + 1));

            // get day
            place = dateStr.indexOf(intrLine1);
            if (place == -1)
                place = dateStr.indexOf(intrLine2);
            if (place == -1) return false;
            tempStr = dateStr.substr(0, place);
            day = tempStr;
            dateStr = dateStr.substr(place + 1, dateStr.length - (place + 1));

            // get year
            year = dateStr;

            //check year
            if (isEmpty(year)) return false;
            if (!isNumber(year)) return false;
            if (year.length != 4) return false;
            if (!inRange(year, 1800, 2100)) return false;

            //check month
            if (isEmpty(month)) return false;
            if (!isNumber(month)) return false;
            if (!inRange(month, 1, 12)) return false;

            //check day
            if (isEmpty(day)) return false;
            if (!isNumber(day)) return false;
            var monthVal = parseInt(month, 10);
            var yearVal = parseInt(year, 10);
            var monthMax = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
            if (yearVal % 4 == 0) monthMax[2] = 29;
            var top = monthMax[monthVal];
            if (!inRange(day, 1, top)) return false;

            return true;
        }

        function inRange(inputStr, lo, hi) {
            var num = parseInt(inputStr, 10)
            if (num < lo || num > hi)
                return false
            else
                return true
        }

        function isNumber(str) {
            isDecimal = false;
            lstr = str.toString();
            for (var i = 0; i < lstr.length; i++) {
                var ochar = lstr.charAt(i);
                if (i == 0 && ochar == "-")
                    continue;
                if (ochar == "." && !isDecimal) {
                    isDecimal = true;
                    continue;
                }
                if (ochar < "0" || ochar > "9") {
                    return false;
                }
            }

            if (lstr == "-" || lstr == ".") return false;
            return true;
        }

        function isEmpty(inputStr) {
            if (inputStr == "" || inputStr == null)
                return true
            else
                return false
        }

        function replacePCP() {
            var pcpName = $('#SOMOSProviderList').find("option:selected").text()
            var pcpPhone = $('#SOMOSProviderList').val()

            if (pcpName && pcpName.length > 0)
                $('#PCPName').val(pcpName)
            if (pcpPhone && pcpPhone.length > 0)
                $('#PCPPhone').val(pcpPhone)
        }

          $('#PatientAddrState').val('{{ Pat.PatientAddrState }}');
          $('#PatientAddrCounty').val('{{ Pat.PatientAddrCounty }}');
          $('#patientOccupation').val('{{ Pat.Occupation }}');
          {% if Pat.PCPFlag == "1" %} changePCP(1); {% endif %}
          {% if Pat.InsuredFlag == "1" %}changeInsurance(document.getElementById('HealthInsurance'));{% endif %}
    </script>


<script type="text/javascript">
            //////////////////{# eugene stuff #}//////////////////

        function showRaceDialog() {
            var raceList = [ {"Code": "R1.01", "Name": "American Indian", "CodeLevel": 1},
 {"Code": "R1.02", "Name": "Alaska Native",  "CodeLevel": 1 },
 {"Code": "R2", "Name": "Asian",  "CodeLevel": 1  },
 {"Code": "R3", "Name": "Black Or African American", "CodeLevel": 1},
 {"Code": "R4.01.001", "Name": "Native Hawaiian", "CodeLevel": 1},
 {"Code": "R4.04", "Name": "Other Pacific Islander", "CodeLevel": 1},
 {"Code": "R5", "Name": "White", "CodeLevel": 1},
 {"Code": "R10", "Name": "Prefer not to answer", "CodeLevel": 1},
 {"Code": "R9", "Name": "Other Race", "CodeLevel": 1},
 {"Code": "R11", "Name": "Unknown", "CodeLevel": 1}
 ];




            DialogControl.buildUI('Race', raceList, 'patientRaceCode', "patientRaceName");
        }

        var DialogControl = {}
        DialogControl.buildUI = function (title, dataList, valueID, nameID) {
            var selCodes = $('#' + valueID).val();
            var mc = '';
            for (var i = 0; i < dataList.length; i++) {
                var lv1 = dataList[i];
                if (lv1.CodeLevel != 1) continue;
                mc += "<div>" + DialogControl.getCheckbox(lv1, selCodes) + "</div>"
                for (var j = 0; j < dataList.length; j++) {
                    var lv2 = dataList[j];
                    if (lv2.CodeLevel != 2 || !lv2.Code.startsWith(lv1.Code)) continue;
                    mc += '<div style="margin-left:20px">'
                    mc += DialogControl.getCheckbox(lv2, selCodes) + '</br><div  style="margin-left:20px">'
                    for (var k = 0; k < dataList.length; k++) {
                        var lv3 = dataList[k];
                        if (lv3.CodeLevel != 3 || !lv3.Code.startsWith(lv2.Code)) continue;
                        mc += DialogControl.getCheckbox(lv3, selCodes) + "&nbsp;&nbsp;"
                    }
                    mc += '</div></div>'
                }
            }
            $("#divDialogControl").html(mc).dialog({
                modal: true,
                title: '' + title,
                resizable: false,
                width: 450,
                height: 360,
                buttons: {
                    "Yes": function () {
                        var vn = DialogControl.getCheckedValueText();
                        $('#' + valueID).val(vn[0]);
                        $('#' + nameID).val(vn[1]);
                        if (typeof (g_form_changed) != 'undefined')
                            g_form_changed = true;
                        $(this).dialog("close");
                    },
                    "No": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }
        DialogControl.getCheckbox = function (race, selCodes) {
            var chkStatus = '';
            if (selCodes != '') {
                var mmm = selCodes + ','
                if (mmm.indexOf(race.Code + ",") != -1)
                    chkStatus = 'checked';
            }
            var ss = '<input type="checkbox" name="chkDialogControl" value="' + race.Code + '" ' + chkStatus;
            ss += ' valuetext="' + race.Name + '"';
            ss += '/>';
            ss += race.Name;
            return ss;
        }

        DialogControl.getCheckedValueText = function () {
            var vals = '';
            var names = '';
            var chkList = document.getElementsByName('chkDialogControl');
            for (var i = 0; i < chkList.length; i++) {
                var ck = chkList[i];
                if (ck.checked) {
                    if (vals != '') {
                        vals += ',';
                        names += ', ';
                    }
                    vals += ck.value;
                    names += $(ck).attr('valuetext');
                }
            }
            return [vals, names];
        }

        function showEthnicityDialog() {
            var ethnicityList = [{"Code": "E1", "Name": "Hispanic Or Latino", "CodeLevel": 1},
                { "Code": "E2", "Name": "Not Hispanic Or Latino",  "CodeLevel": 1  },
                {"Code": "E3", "Name": "Prefer not to answer", "CodeLevel": 1},
                {"Code": "E11", "Name": "Unknown", "CodeLevel": 1}
                ];

            DialogControl.buildUI('Ethnicity', ethnicityList, 'patientEthnicityCode', 'patientEthnicityName');
        }

        function showInsuranceForm(){
            let hasInsureance = $('#HealthInsurance').val();
            let willingToProvide = $('#selWillingToProvideInsurance').val();
            let insuType = $('#selInsuType').val();

            if(hasInsureance == '1'){
                $('#trQuestionInsu').show();
            }else{
                $('#trQuestionInsu').hide();
            }

            if( hasInsureance != '1' || willingToProvide != '1'){
                insuType = "";
            }
            let typeList = ['Medicaid','Medicare', 'PrivateInsurance', 'Uninsured'];

            for(let i=0;i< typeList.length; i++){
                let cur = typeList[i];
                $('.'+ cur).hide();
            }
            if(insuType != ''){
                $('.' + insuType).show();
            }
            if(hasInsureance == '1' && willingToProvide == '1'){
                $('#tdInsuType').show();
            }
        }

        function validateInsuranceForm(){
            let hasInsureance = $('#HealthInsurance').val();
            let willingToProvide = $('#selWillingToProvideInsurance').val();
            let insuType = $('#selInsuType').val();
            if( hasInsureance == '1' || willingToProvide == '1'){
                if(insuType == ''){
                    alert("Type of Insurance is required.");
                    return false;
                }else if(insuType == 'PrivateInsurance'){
                     if($('#PrivateInsuranceCompanyName').val() == ''){
                         alert("Company Name is required.");
                        return false;
                    }
                    if($('#PrivateInsuranceMemberID').val() == ''){
                         alert("Insurance Member ID is required.");
                        return false;
                    }
                }
            }
            return true;
        }
        showInsuranceForm();


</script>